# FUNCTIONS :
- A function is a block of organized, reusable code that performs a specific task. Functions provide better modularity for your application and allow you to reuse code.
- In Python, you can define a function using the `def` keyword, followed by the function name, a pair of parentheses that may include parameters, and a colon. The code block that follows, indented by four spaces, is the body of the function.
- To call a function in Python, you write the function name followed by parentheses.
-  A function can return a value using the return statement. When a return statement is executed inside a function, the function immediately terminates and returns the specified value to the caller.
- A function can take zero or more parameters. Parameters are values that are passed to the function when it is called. The function can use these values to perform its task.

In [4]:
def mean(numbers_list): #parametirezed function
    s = sum(numbers_list)
    l = len(numbers_list)
    avg = s/l
    return avg

In [8]:
def greet():   # non paraetirezed function
    print("Hello ")
    print("This is a message inside the greet function.")
    print("This will be executed when we will call the function.")

In [15]:
def add(x,y=0):
    return x+y

In [16]:
add(x=2,y=4)

6

In [ ]:
# create a function that will take marks of a students and will return his grade.

In [35]:
def grader(marks : int) ->str:
    if marks >=60:
        return "A"
    elif marks >=35:
        return "B"
    else:
        return "Fail"

In [34]:
grader(55)

'B'

In [17]:
add(3)

3

In [10]:
greet()

Hello
This is a message inside the greet function.
This will be executed when we will call the function.

In [9]:
greet()

Hello
This is a message inside the greet function.
This will be executed when we will call the function.

In [5]:
l = [2,4,6,7]
result = mean(l)
print(result)

4.75

In [6]:
l2 = [4,5,2]
print(mean(l2))

3.6666666666666665

In [7]:
print(mean([1,2,3,4,5]))

3.0

In [ ]:
[1,5,7,8,9]

In [ ]:
result = Mean([1,5,7,8,9])
result

In [ ]:
print(Mean([4,5,6]))

In [ ]:
def greet():
    print("HELLO WORLD")
    print("YOU are using the greet function.")

In [ ]:
greet()

In [20]:
def greet(user='earth'):
    print(f"HELLO {user}")

In [21]:
greet()

HELLO earth

In [19]:
greet(user="suraj")

HELLO suraj

In [ ]:
greet("sulbha")

In [ ]:
greet('suraj')

In [ ]:
def sum_(a,b):
    result = a+b
    return result

In [ ]:
result = sum_(6,66)
print(result)

In [ ]:
print(sum_(5,5))

In [ ]:
len([1,5,6,7,8])

In [ ]:
sum([1,5,6,7,8])

In [ ]:
27/5

In [36]:
def square(n):
    return n **2

In [39]:
print(square(555))

308025

In [22]:
my_variable = 10  # global variable

def mean(numbers_list):
    summation= sum(numbers_list) # local variable
    length = len(numbers_list)   #local variabble
    return summation/length

In [24]:
my_variable

10

In [ ]:
# gloabal and local variables

In [ ]:
nums = [1,3,5,6]

In [ ]:
print(mean(nums))

In [ ]:
summation

In [ ]:
# A function to add two numbers
def add(a,b):
    return a+b

In [ ]:
result = add(4,5)
print(result)

In [ ]:
# global and local variable

x = 10  #gol

def my_function():
    x = 5
    print(x)

my_function() # 5
print(x) # 10

---

## Recursion :
- Recursion is a technique in programming where a function calls itself in order to solve a problem. A recursive function must have a base case that stops the recursion, and a recursive case that calls the function again with modified arguments.

In [40]:
4! = 4 * 3* *2*1

SyntaxError: invalid syntax (1296767036.py, line 1)

In [41]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)
print(result) # 120

120

In [42]:
factorial(4)

24

In [43]:
4 * 3 * 2 * 1 * 1

24

In [ ]:
print(factorial(4))

# Q. Write a python program to print the following structure
        *
       ***
      *****
     *******
    *********

In [ ]:
# Using For loop
n = 5 
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end="")
    for star in range(2*i-1):
        print("*",end="")   
    print()

In [ ]:
# USING WHILE LOOP
n = 5
i=1
k =1

while i <= n:
    space = 1
    while space <= n-i:
        print(" ",end='')
        space +=1
    star = 1
    while star <= k:
        print("*",end="")
        star +=1
    k +=2
    print()
    i+=1

---
### Q. Write a python program to print the following pattern.

number of Rows:5
```
*********
 *******
  *****
   ***
    *
```
---

In [8]:
row = 1
num_stars = 9
while row<=5:
    
    space = row -1
    while space >0:
        print(" ",end="")
        space -=1
        
    star = 1
    while star <= num_stars:
        print("*",end="")
        star +=1
    
    print()
    row +=1
    num_stars -=2

*********
 *******
  *****
   ***
    *

In [7]:
n = 5
for i in range(n):
    for space in range(i):
        print(" ",end="")
    for star in range(2*n-1):
        print("*",end="")
    print()
    n -=1

*********
 *******
  *****
   ***
    *

In [4]:
n = 5
for i in range(1,n+1):
    for space in range(i+1):
        print(" ",end=" ")
    for star in range(2*n-1):
        print("*",end=" ")
    print()
    n -=1

    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [1]:
n = 5
i = 1
while n > 0:
    space = 1
    while space < i:
        print(" ", end='')
        space += 1
    star = 1
    while star <= 2*n-1:
        print("*", end='')
        star += 1
    print()
    n -= 1
    i += 1

*********
 *******
  *****
   ***
    *

In [2]:
# for loop 
n = 5
for i in range(1, n+1):
    for space in range(i-1):
        print(" ", end='')
    for star in range(2*n-1):
        print("*", end='')
    print()
    n -= 1

*********
 *******
  *****
   ***
    *

## SOLVE THIS ONE TOO
```
1 2 3 4 5
2
3
4
5
```

In [13]:
for i in range(1,6):
    print(i,end=" ")
print()
for j in range(2,6):
    print(j)

1 2 3 4 5
2
3
4
5

In [15]:
list(range(2,6))

[2, 3, 4, 5]

In [33]:
n=8
num_stars = n
for i in range(n):
    for space in range(i):
        print(" ",end="")
    for star in range(2*num_stars-1):
        print("*",end="")
    print()
    num_stars -=1
    
n2 = n-1 #4
space = n2-2
for i in range(2,n2+2):
    for current_space in range(space+1):
        print(" ",end="")
    for star in range(2*i-1):
        print("*",end="")
    
    print()
    space -=1

***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

## TYR TO PRINT THIS ONE:
``` 
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********
```

In [9]:
rows = int(input("Enter number of Rows:"))

for i in range(1,rows):
    for j in range(1,i):
        # print required number of spaces
        print('', end=' ')

    k = i
    for k in range(i,rows+1):
        print('*', end=' ')

    print()


i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of Rows:9
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

## Map and Lambda function :
- The map() function is a built-in function that takes a `function` and an `iterable` as arguments, and returns an iterator that applies the function to each element of the iterable. 
- The map function in Python takes two arguments: a function and an iterable (e.g., a list). 
- It applies the function to each element of the iterable and returns a new iterable with the results. - The map function allows you to apply the same operation to multiple items in a convenient and concise way.

In [ ]:
list(map(str,[1,2,3,4,5,6]))

In [ ]:
a = list(map(int,input("ENTER A NUMBER :")))
print(a)
print(type(a[0]))

In [ ]:
# Define a function
def square(x):
    return x ** 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Convert the map object to a list
result = list(squared_numbers)

print(result)

---
- A lambda function, also known as an anonymous function, is a way to define a small function in a single line without formally defining it with the `def` keyword. 
- Lambda functions are handy when you need a simple function for a short period of time.
- The lambda keyword is used to create small, anonymous functions that can be used as arguments to higher-order functions like `map()`.
---

In [ ]:
square = lambda x: x * x
result = square(3)
print(result) # 9

In [ ]:
add = lambda x, y: x + y
result = add(3, 5)
print(result)  # Output: 8

In [ ]:
is_even = lambda x: x % 2 == 0
result = is_even(7)
print(result)  # Output: False

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map with a lambda function to square each element in the list
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)