In [2]:
print("Hello world",end=' ')
print("HELLLO")

Hello world HELLLO

# Python Basics

---
## Variables :
- Variables are used to store some data.
- In Python, you can create a variable by assigning a value to it using the = operator. 
- For example, x = 5 creates a variable named x and assigns the value 5 to it.

In [18]:
print("THis is a message")

THis is a message

In [3]:
x = 10
y = 6
name = "Athrava"

In [8]:
print(name)

Athrava

In [10]:
print(x)
print(y)
print(x+y)
print(x*4)

10
6
16
40

In [6]:
print(name * 4)

AthravaAthravaAthravaAthrava

In [4]:
name

'Athrava'

## KeyWords :
- Keywords are reserved words in Python that have special meanings and cannot be used as variable names.
- Some examples of keywords in Python are `if, else, for, while, def, class,` etc.

## Statements & Comments: 
- A statement is an instruction that the Python interpreter can execute. For example, `x = 5` is an assignment statement that assigns the value 5 to the variable x. 
- Comments are lines of text in your code that are ignored by the interpreter and are used to explain what your code does. In Python, you can create a comment by starting a line with the # symbol.

In [7]:
x=5 # This is an assignment statement.
# this is a comment.


'''

sdfs
kl;k
this is also a comment 
'''

'''

THIS IS ALSO a COMMENT

'''

'\n\nTHIS IS ALSO a COMMENT\n\n'

## Indentation: 
- Indentation refers to the use of whitespace at the beginning of a line to define the structure of your code. In Python, indentation is used to define blocks of code, such as the body of a function or loop.

In [12]:
a = -1
if a >0:
    print("a is positive")
    a +=2
    print(a)
else :
    print("a is negative")

a is negative

## Data types: 
- Data types refer to the type of data that can be stored in a variable. Some common data types in Python are integers, floats, strings, lists, tuples, dictionaries, etc.

In [20]:
x = 5 #int

y = 4.03 #float
z = 'string' #string

l = [1,2,3,'hello']  #list
t = (1,2,2,3,'world')

d = {'id':[1,2,3,4,5],'name':['hello','a','b','c','d'],'age':44} #dictionary

In [17]:
d = {'k1' : 1,'k2':[1,3,4,5,6,7]}

In [21]:
d['id']

[1, 2, 3, 4, 5]

In [22]:
type(x)

int

In [23]:
y = float(x)
y

5.0

In [27]:
y = 4.6
y = int(y)

print(y)
print(y)

4
4

In [26]:
print(d)

{'key1': [1, 2, 3, 4, 5], 'key2': ['hello', 'a', 'b', 'c', 'd'], 'key3': 44}

In [52]:
a = ' 4'
print(type(a))

<class 'str'>

In [29]:
a = 'dhruv'
b = '   tiwari'
result = a+b
print(result)

dhruv   tiwari

In [30]:
a = 4
b = 5
a+b

9

In [56]:
students = {'id':1,'Name':'DHRUV', 'AGE' : 19}

In [57]:
print(students['id'])

1

In [58]:
class_ ={'id':[1,2,3],'NAME':['DHRUV','xyz','abc']}

In [31]:
print(type(z))
print(type(d))

<class 'str'>
<class 'dict'>

In [41]:
list_ = [8,6,7,8,9,4,10,'skkdfkksfakjfdkjskdfkasjdkfjsadfkajdfksjadsfklj',[1,2,5,6]]

In [42]:
len(list_[8])

4

In [32]:
print(sum(list_))

52

## Static Typing vs Dynamic Typing : 
- Static typing means that the type of a variable is determined at compile time, before the program is run. 
- In other words, the programmer must specify the type of each variable when writing the code, and the compiler checks that the operations performed on the variables are valid for their types.
- eg : `int x;  x = 5;`
- Python is a dynamically typed language, which means that the type of a variable is determined at runtime, and not at compile time like in statically typed languages. 
- This allows for more flexibility in writing code, but can also lead to runtime errors if you try to perform operations on incompatible types.

## Input and output: 
- Input refers to getting data from the user or from another source, while output refers to displaying data to the user or sending it to another destination. 
- In Python, you can use the input() function to get input from the user and the print() function to display output.

In [43]:
make = input("ENTER THE company name :")
print("Your car is ",make)

ENTER THE company name :abc
Your car is  abc

In [44]:
fname = input("Enter here : ")
lname = input("ENTER LAST NAME : ")
print(fname,end = ' ')
print(lname)

Enter here : abc
ENTER LAST NAME : y
abc y

## Operators: 
- Operators are symbols that perform operations on values. Some common operators in Python are:
1. Arithmetic operators : performs mathematical operations.<br>` + - * /  `
2. Relational operators : Compare values and return a boolean result. Examples include greater than `(>)`, less than `(<)`, equal to `(==)`, not equal to `(!=)`, etc.
3. Assignment operators: Assign values to variables. The most common assignment operator is` = ` .
4. Logical operators: Perform logical operations such as AND `(and)`, OR `(or)`, NOT `(not)`.
5. Membership operators: Test if a value is a member of a sequence or not. Examples include `in` and `not in`.
6. Identity operators: Test if two variables refer to the same object in memory or not. Examples include `is` and `is not`.

In [52]:
a = [1,4,88,66]
if 5 not in a:
    print(True)

True

In [48]:
4 != 4

False

In [90]:
# if number is positive
n = 1
if n > 0  :
    print("n is postive")

n is postive

In [78]:
#Examples :
4+5

9

In [79]:
x= 4
y = 5

In [55]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x % y)

9
1
20
1.25
1
1

In [93]:
fruits = ['apple','mango','cherry','banana']
if 'banana' in fruits:
    print(True)

True

In [38]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y) # False
print(x is z) # True
print(x is not y) # True

False
True
True

---

# Control Flow :
- Control flow refers to the order in which statements are executed in a program. 
- In Python, you can use conditional statements and loops to control the flow of your program.

--- 
## If statement: 
- The if statement is used to execute a block of code only if a certain condition is true.

In [57]:
x = -2
if x > 0:
    print("x is positive")

---
## If-else: 
- The if-else statement is used to execute one block of code if a condition is true, and another block of code if the condition is false.

In [40]:
x = -5
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

x is not positive

---
## If-elif-else: 
- The if-elif-else statement is used to test multiple conditions and execute different blocks of code depending on which condition is true.

In [58]:
x = 0
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

---
## Nested if-else: 
- You can nest if-else statements inside other if-else statements to test multiple conditions in a hierarchical manner.

In [59]:
x = -1
y = -1
if x > 0:
    if y > 0:
        print("Both x and y are positive")
    else:
        print("x is positive but y is not positive")
else:
    print("x is not positive")

x is not positive

In [62]:
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))
if x > 0 and y > 0:
    print("BOTH values are positive")
elif x >0 and y < 0 :
    print("x is postive and y is negative")
elif x < 0 and y >0 :
    print("x is negative and y is positive")
else:
    print("BOth values are negative")

Enter the value of x : 5
Enter the value of y : -1
x is postive and y is negative

## Q.create a program that takes a number as input and checks its divisibility with 2 and 3.

In [65]:
# WRITE CODE HERE

x = int(input("ENter the first number : "))

if (x % 2) == 0 and (x % 3) == 0 :
    print(f"{x} is divisble by 2 and 3.")
else:
    print(f"{x} is not divisible by both numbers.")

ENter the first number : 6
6 is divisble by 2 and 3.

In [67]:
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [ ]:
[0 ........ 99]

In [75]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [74]:
for i in range(1,11):
    print("HELLO WORLD")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

# LOOPS IN PYTHON  : 
- Loops in Python are a way to repeat a block of code many times.

---
## While loop: 
- A while loop repeats a block of code as long as a condition is true.
- For example, if you want to print the numbers from 1 to 10, you can use a while loop like this:

In [8]:
number = 1 # start with 1
while number <= 10: # check if the number is less than or equal to 10
    print(number) # print the number
    number = number + 1 # add 1 to the number and repeat the loop

1
2
3
4
5
6
7
8
9
10

In [82]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

---
## For loop :
- A for loop repeats a block of code for each item in a sequence, such as a list or a string. 
- For example, if you have a list of fruits, you can use a for loop to print each fruit like this:

In [83]:
fruits = ["apple", "banana", "orange","cherry"]
for fruit in fruits:
    if 'a' in fruit:
        print(fruit)

apple
banana
orange

In [80]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i,end= ' ')

1 2 3 4 5

## NESTED LOOPS : 
- Nested loops in Python are loops that are inside another loop. 

---
## Nested for loop: 
- You can nest one for loop inside another for loop to iterate over multiple sequences at once.
- This inner loop will run for each value of i.

In [ ]:
i = 0,1,2
j = 0,1,2,3

In [85]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

- The first line `for i in range(3):` creates an outer loop that repeats 3 times, from 0 to 2. Each time, the variable i gets the value of the current iteration.
- The second line `for j in range(3):` creates an inner loop that repeats 3 times, from 0 to 2. Each time, the variable j gets the value of the current iteration. This inner loop is inside the outer loop, so it will run for each value of i.
- The third line `print(i,j)` prints the values of i and j, separated by a comma. This line is inside both loops, so it will run for each pair of i and j.

-  *The outer loop starts with i = 0. It creates an inner loop that runs with j = 0, 1, and 2. Each time, it prints the values of i and j, which are (0, 0), (0, 1), and (0, 2).*

## Nested while loop: 
- Similarly to nested for loops, you can also nest one while loop inside another while loop.

In [86]:
i = 1
while i <= 2:
    j = 1
    while j <= 2:
        print(i,j)
        j +=1
        
    i +=1

print("ended")

1 1
1 2
2 1
2 2
ended

- The outer loop starts with i = 1. It checks if i <= 2. It is true, so it executes the block of code inside the loop.
- It assigns j = 1 and creates an inner loop that runs with j = 1 and 2. Each time, it prints the values of i and j, which are (1, 1) and (1, 2). It also updates the value of j by adding 1 to it.
- After the inner loop finishes, it updates the value of i by adding 1 to it. Now, i = 2.
- The outer loop continues with i = 2. It checks if i <= 2. It is true, so it executes the block of code inside the loop.
- It assigns j = 1 and creates an inner loop that runs with j = 1 and 2. Each time, it prints the values of i and j, which are (2, 1) and (2, 2). It also updates the value of j by adding 1 to it.
- After the inner loop finishes, it updates the value of i by adding 1 to it. Now, i = 3.
- The outer loop continues with i = 3. It checks if i <= 2. It is false, so it stops the loop and exits from it.

## Loop with else: 
- In Python, you can use an else statement with a loop. The code in the else block is executed when the loop finishes normally (i.e., when the condition becomes false), but not when the loop is terminated by a break statement.

In [87]:
for i in range(3):
    print(i)
else:
    print("The loop finished normally")

0
1
2
The loop finished normally

---
## Pass statement: 
- The pass statement is a placeholder statement that does nothing. It is used when you need a statement in your code for syntactic reasons, but you don’t want the statement to do anything.

In [ ]:
x = 5
if x > 0:
    pass

--- 
## Break and continue: 
- The break and continue statements are used to control the flow of execution inside loops.
- The break statement terminates the innermost loop and transfers control to the next statement after the loop. 
- The continue statement is used to skip the current iteration of a loop and continue with the next one.
- You can think of the continue statement as a shortcut to jump to the next iteration of the loop.

In [2]:
for number in range(1, 11):
    if number == 5:
        break # stop the loop
    print(number)

1
2
3
4

In [4]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

 For example, if you have a loop that prints the numbers from 1 to 10, and you want to skip the even numbers, you can use the continue statement like this:

In [5]:
for number in range(1, 11):
    if number % 2 == 0: # check if the number is even
        continue # skip this iteration
    print(number) # print the number

1
3
5
7
9

 ## create a program that takes a number as input and checks its divisibility with 2 and 3.

In [75]:
# code :
number = int(input("Enter the number : "))
if (number % 2) == 0:
    if (number % 3) == 0:
        print(number," is divisble by 2 and 3")
    else:
        print(number, "is divisible by 2 but not with 3")
        
else:
    print("number is not divisible by both ")

Enter the number : 5
number is not divisible by both

In [79]:
number = int(input("Enter the number : "))
if (number % 2) == 0 and (number % 3) == 0 :
    print(number, "is divisible by 2 and 3")
else:
    print("number is not divisible by any or both ")

Enter the number : 6
6 is divisible by 2 and 3

## Printing patterns:

---
'''
### Q. print the following patter using loops and if-else statements.
 
    * * * *
    * * * *
    * * * *
    * * * *
    
'''

In [81]:
a = '4'
a *4

'4444'

In [86]:
n = 4
for i in range(1,n+1):
    print('x ' * n)

x x x x
x x x x
x x x x
x x x x

In [1]:
for i in range(4):
    for j in range(6):
        print("* ",end='')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *

---
'''
### Q. print the following patter using loops and if-else statements.
 
    *
    * *
    * * *
    * * * *
    
'''

---

In [19]:
l = [1,24,67,8,9]

l[::-1]

[9, 8, 67, 24, 1]

In [10]:
n = int(input("ENTER THE NUMBER OF ROWS :")  )    
for i in range(n+1):
       print("x " * i)

ENTER THE NUMBER OF ROWS :4

x
x x
x x x
x x x x

In [30]:
rows = 4
for row in range(rows):
    for column in range(row +1):
        print("* ",end = '')
    print()

*
* *
* * *
* * * *

In [6]:
n =5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

---

'''

## Q.Python Program to print star pattern 2


    * * * * *
    * * * *
    * * *
    * *
    *

'''

In [36]:
# write code here
n = 4
for i in range(1,n+1):
    print('* ' * n)
    n -=1
    

n = 4   
for i in range(n):
    for j in range(n-i):
        print("*", end=' ')
    print()

* * * *
* * *
* *
*
* * * *
* * *
* *
*


---


### Q.Python Program to print star Triangle pattern 3

     Enter number of rows:5
         *
        **
       ***
      ****
     *****

---
'''

In [41]:
# USING WHILE LOOP
n = 5
i = 1
while i <= n:
    space = 1
    while space <= n-i:
        print(" ", end='')
        space += 1
    
    star = 1
    while star <= i:
        print("*", end="")
        star += 1
    print()
    i += 1

    *
   **
  ***
 ****
*****

In [91]:
# USING FOR LOOP
n= 5
for i in range(1,n+1):
    for space in range(n-i):
        print(" ",end='')
    for star in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****