# FUNCTIONS :
- A function is a block of organized, reusable code that performs a specific task. Functions provide better modularity for your application and allow you to reuse code.
- In Python, you can define a function using the `def` keyword, followed by the function name, a pair of parentheses that may include parameters, and a colon. The code block that follows, indented by four spaces, is the body of the function.
- To call a function in Python, you write the function name followed by parentheses.
-  A function can return a value using the return statement. When a return statement is executed inside a function, the function immediately terminates and returns the specified value to the caller.
- A function can take zero or more parameters. Parameters are values that are passed to the function when it is called. The function can use these values to perform its task.

In [4]:
def mean(array):
    summation = sum(array)
    length = len(array)
    average = summation/length
    
    return average

In [5]:
my_list = [2,5,6,7,8,12]
print(mean(my_list))

6.666666666666667

In [ ]:
print(mean(my_list))

In [6]:
my_list_1 = [33,44,55,666]
print(mean(my_list_1))

199.5

In [ ]:
mean(my_list)

In [ ]:
def greet():
    print("HELLO WORLD")
    print("YOU are using the greet function.")
    print("THis is the third message")

In [ ]:
greet()

In [ ]:
greet()

In [ ]:
def add(x,y):
    return x + y

In [ ]:
rezult = add(5)
print(rezult)

In [ ]:
def add(x = 0, y=0):
    return x+ y

In [ ]:
add(x=7)

In [ ]:
def greet(user = 'EARTH'):
    print(f"HELLO {user}")

In [ ]:
greet(user="suraj")

In [ ]:
greet()

In [ ]:
greet('suraj')

In [ ]:
def square_pattern(n : int):
    for i in range(n):
        for j in range(n):
            print("x ",end='')
        print()

In [ ]:
square_pattern(4)

In [ ]:
square_pattern(10)

In [ ]:
def square_root(n):
    return n ** 0.5

In [ ]:
def square(n : float) -> float :
    return n **2

In [ ]:
def add(number1 : float, number2 : float) -> float:
    return number1 + number2

In [ ]:
square(5.45)

In [ ]:
add()

In [ ]:
my_variable = 10 

def mean(numbers_list):
    summation= sum(numbers_list)
    length = len(numbers_list)
    return summation/length

In [ ]:
summation

In [ ]:
# gloabal and local variables

In [ ]:
nums = [1,3,5,6]

In [ ]:
print(mean(nums))

In [ ]:
summation

In [ ]:
# A function to add two numbers
def add(a,b):
    return a+b

In [ ]:
result = add(4,5)
print(result)

In [ ]:
# global and local variable

x = 10  #gol

def my_function():
    x = 5
    print(x)

my_function() # 5
print(x) # 10

---

## Recursion :
- Recursion is a technique in programming where a function calls itself in order to solve a problem. A recursive function must have a base case that stops the recursion, and a recursive case that calls the function again with modified arguments.

In [ ]:
4! = 4 * 3!
3! = 3 * 2!
2! = 2*1

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
4 * factorial(4-1)
4 * 3 * factorial(3-1)
4 * 3 * 2 * factorial(2-1)
4 * 3 * 2 * 1 * factorial(1-1)
4 * 3 * 2 * 1 * 1

In [ ]:
factorial(4)

In [ ]:
print(factorial(4))

# Q. Write a python program to print the following structure
        *
       ***
      *****
     *******
    *********

In [ ]:
n = 5
for i in range(1,n+1):
    for space in range(n-i):
        print(" ",end="")
    for star in range((2*i) -1):
        print("X",end="")
    print()

In [ ]:
# Using For loop
n = 5 
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end="")
    for star in range(2*i-1):
        print("*",end="")   
    print()

In [ ]:
# USING WHILE LOOP
n = 5
i=1
k =1

while i <= n:
    space = 1
    while space <= n-i:
        print(" ",end='')
        space +=1
    star = 1
    while star <= k:
        print("*",end="")
        star +=1
    k +=2
    print()
    i+=1

---
### Q. Write a python program to print the following pattern.
     number of Rows:5
```    
*********
 *******
  *****
   ***
    *
    
 ```   
---

In [ ]:
n = 5
for i in range(1,n+1):
    for space in range(i-1):
        print(" ",end= '')
    for star in range(2*n-1):
        print("*",end="")
    print()
    n = n-1

In [ ]:
def inverted_traingle(number_of_rows):
     
    number_of_stars = (2 * number_of_rows) -1
    for i in range(1,number_of_rows+1):
        for space in range(i-1):
            print(" ",end='')
        for pattern in range((number_of_stars)):
            print("*",end='')
        print()
        number_of_stars -= 2

In [ ]:
inverted_traingle(5)

In [ ]:
n = 5
i = 1
while n > 0:
    space = 1
    while space < i:
        print(" ", end='')
        space += 1
    star = 1
    while star <= 2*n-1:
        print("*", end='')
        star += 1
    print()
    n -= 1
    i += 1

In [ ]:
# for loop 
n = 5
for i in range(1, n+1):
    for space in range(i-1):
        print(" ", end='')
    for star in range(2*n-1):
        print("*", end='')
    print()
    n -= 1

In [ ]:
def add(x,y):
    return x + y

In [ ]:
add = lambda x,y : x+y

In [ ]:
print(add(4,6))

In [ ]:
# em_list = []
# for i in range(4):
#     a = input("enter here : ")
#     em_list.append(a)
    

my_List  = ['1','4','5','10']
# print(type(em_list[0]))

new_list = list(map(int,my_List))
# print(new_list)
# print(type(new_list[0]))



print(new_list)

def square(n):
    return n **2

# list(map(square,new_list))

list(map(lambda x : x**2,new_list))

## Map and Lambda function :
- The map() function is a built-in function that takes a `function` and an `iterable` as arguments, and returns an iterator that applies the function to each element of the iterable. 
- The map function in Python takes two arguments: a function and an iterable (e.g., a list). 
- It applies the function to each element of the iterable and returns a new iterable with the results. - The map function allows you to apply the same operation to multiple items in a convenient and concise way.

In [ ]:
list(map(str,[1,2,3,4,5,6]))

In [ ]:
a = list(map(int,input("ENTER A NUMBER :")))
print(a)
print(type(a[0]))

In [ ]:
# Define a function
def square(x):
    return x ** 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Convert the map object to a list
result = list(squared_numbers)

print(result)

---
- A lambda function, also known as an anonymous function, is a way to define a small function in a single line without formally defining it with the `def` keyword. 
- Lambda functions are handy when you need a simple function for a short period of time.
- The `lambda` keyword is used to create small, anonymous functions that can be used as arguments to higher-order functions like `map()`.
---

In [ ]:
square = lambda x: x * x
result = square(3)
print(result) # 9

In [ ]:
add = lambda x, y: x + y
result = add(3, 5)
print(result)  # Output: 8

In [ ]:
is_even = lambda x: x % 2 == 0
result = is_even(7)
print(result)  # Output: False

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map with a lambda function to square each element in the list
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)