# FUNCTIONS :
- A function is a block of organized, reusable code that performs a specific task. Functions provide better modularity for your application and allow you to reuse code.
- In Python, you can define a function using the `def` keyword, followed by the function name, a pair of parentheses that may include parameters, and a colon. The code block that follows, indented by four spaces, is the body of the function.
- To call a function in Python, you write the function name followed by parentheses.
-  A function can return a value using the return statement. When a return statement is executed inside a function, the function immediately terminates and returns the specified value to the caller.
- A function can take zero or more parameters. Parameters are values that are passed to the function when it is called. The function can use these values to perform its task.

In [ ]:
def calculate_avg(numbers_list): # parameterized function
    summation = sum(numbers_list)
    length = len(numbers_list)
    return summation/length

In [ ]:
def greet(): # non - parameterized 
    print("HELLLO WORLD")

In [ ]:
def greet_with_name(name= "EARTH"):
    print("HELLO", name)

In [ ]:
def greet():
    print("HELLO WORLD")
    print("YOU are using the greet function.")

In [ ]:
greet()

In [ ]:
def greet(user):
    print(f"HELLO {user}")

In [ ]:
greet(user="suraj")

In [ ]:
greet("sulbha")

In [ ]:
greet('suraj')

In [ ]:
def sum_(a,b):
    result = a+b
    return result

In [ ]:
def square(a : float):
    return a * a

In [3]:
# create a function that will take a list of numbers and will return multiplication of all the elements in the list
my_variable = 5      # global variable

def multiply(number_list):
    result = 1         # local variable
    for i in number_list:
        result = result * i
    return result

In [4]:
my_variable

5

In [2]:
result

NameError: name 'result' is not defined

In [ ]:
def print_star(n):
    for i in range(1,n+1):
        print("* "* n)

In [ ]:
print_star(6)

In [ ]:
list(range(1,5))

In [ ]:
n = 4
for i in range(1,n+1):
    print("* "* n)

In [ ]:
multiply([4,5,2,3])

In [ ]:
square(5)

In [ ]:
result = sum_(6,66)
print(result)

In [ ]:
print(sum_(5,5))

In [ ]:
len([1,5,6,7,8])

In [ ]:
sum([1,5,6,7,8])

In [ ]:
27/5

In [ ]:
def square(n):
    return n **2

In [ ]:
print(square(5))

In [ ]:
my_variable = 10 


def mean(numbers_list):
    summation= sum(numbers_list)
    length = len(numbers_list)
    return summation/length

In [ ]:
# gloabal and local variables

In [ ]:
nums = [1,3,5,6]

In [ ]:
print(mean(nums))

In [ ]:
summation

In [ ]:
# A function to add two numbers
def add(a : int,b : int) -> int:
    return a+b

In [ ]:
result = add(4,5)
print(result)

In [ ]:
# global and local variable

x = 10 

def my_function():
    x = 5
    print(x)

my_function() 
print(x)

---

## Recursion :
- Recursion is a technique in programming where a function calls itself in order to solve a problem. A recursive function must have a base case that stops the recursion, and a recursive case that calls the function again with modified arguments.

In [ ]:
4! = 4 * 3 * 2!

In [5]:
4 * 3 * 2 *  1 * 1

24

In [8]:
4 * 3 * 2 * 1 * 1

24

In [6]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)
print(result) # 120

120

In [9]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [7]:
print(factorial(4))

24

# Q. Write a python program to print the following structure
        *
       ***
      *****
     *******
    *********

In [2]:
n = 5
for i in range(1,n+1):
    print(" "* (n-i),end="")
    print("*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [12]:
n = 5
for i in range(1,n+1):
    print(" " * (n-i) ,end="")
    print("*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [13]:
# Using For loop
n = 5 
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end="")
    for star in range(2*i-1):
        print("*",end="")   
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
# USING WHILE LOOP
n = 5
i=1
k =1

while i <= n:
    space = 1
    while space <= n-i:
        print(" ",end='')
        space +=1
    star = 1
    while star <= k:
        print("*",end="")
        star +=1
    k +=2
    print()
    i+=1

---
### Q. Write a python program to print the following pattern.
     number of Rows:5
     
         * * * * *
          * * * *
           * * *
            * *
             *

---

In [17]:
n = 5
for i in range(1,n+1):
    print(" " * (i-1),end="")
    print("*" * (2*n-1))
    n-=1

*********
 *******
  *****
   ***
    *

In [14]:
n = 5
i = 1
while n > 0:
    space = 1
    while space < i:
        print(" ", end='')
        space += 1
    star = 1
    while star <= 2*n-1:
        print("*", end='')
        star += 1
    print()
    n -= 1
    i += 1

*********
 *******
  *****
   ***
    *

In [21]:
# for loop 
n = 5
for i in range(1, n+1):
    for space in range(i-1):
        print(" ", end='')
    for star in range(2*n-1):
        print("*", end='')
    print()
    n = n-1

*********
 *******
  *****
   ***
    *

In [26]:
n = 5
num_stars = n
for i in range(1, n+1):
    for space in range(i-1):
        print(" ", end='')
    for star in range(2*num_stars-1):
        print("*", end='')
    print()
    num_stars -=1

n2 = n-1
space =2
for i in range(2,n2+2):
    for space in range(space+1):
        print(" ",end='')
        
    for star in range(2*i-1):
        print("*",end="")
    print()
    space -=1

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [34]:
def not_diamond(n):
    num_stars = n
    for i in range(1, n+1):
        for space in range(i-1):
            print(" ", end='')
        for star in range(2*num_stars-1):
            print("*", end='')
        print()
        num_stars -=1

    n2 = n-1
    num_stars = n2
    for i in range(1,n2+1):
        for space in range(n2-i):
            print(" ",end="")
        for star in range(num_stars-1):
            print("*",end="")
        print()
        num_stars +=2

In [35]:
not_diamond(15)

*****************************
 ***************************
  *************************
   ***********************
    *********************
     *******************
      *****************
       ***************
        *************
         ***********
          *********
           *******
            *****
             ***
              *
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [30]:
n = 5
num_stars = n
for i in range(1, n+1):
    for space in range(i-1):
        print(" ", end='')
    for star in range(2*num_stars-1):
        print("*", end='')
    print()
    num_stars -=1
    
n2 = n-1
num_stars = n2
for i in range(1,n2+1):
    for space in range(n2-i):
        print(" ",end="")
    for star in range(num_stars-1):
        print("*",end="")
    print()
    num_stars +=2

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
list(range(5,0,-1))

In [ ]:
list(range(2,6))

In [ ]:
n = 5
# Upside-down triangle
for i in range(n, 0, -1):
    print(" " * (n - i), end='')  # Print leading spaces
    print("*" * (2 * i - 1))      # Print stars
    # No need to decrease num_stars here, just adjust leading spaces

# Right-side-up triangle
for i in range(2, n + 1):
    print(" " * (n - i), end='')  # Print leading spaces
    print("*" * (2 * i - 1))      # Print stars

## TRY TO PRINT THIS PATTERN AS WELL

 ```
            *
           ***
          *****
         *******
        *********
         *******
          *****
           ***
            *
 ```

In [22]:
n=5
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end="")
    for star in range(2*i-1):
        print("*",end="")   
    print()

n2 = n-1 #4
for i in range(1,n2+1): # 1-5 [1,2,3,4]
    for space in range(i):
        print(" ",end="")
    for star in range(2*n2-1):
        print("*",end="")
    print()
    n2-=1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [23]:
 def diamond(n):
    for i in range(1,n+1):
        for space in range(n-i):
            print(' ',end="")
        for star in range(2*i-1):
            print("*",end="")   
        print()

    n2 = n-1 #4
    for i in range(1,n2+1): # 1-5 [1,2,3,4]
        for space in range(i):
            print(" ",end="")
        for star in range(2*n2-1):
            print("*",end="")
        print()
        n2-=1

In [25]:
diamond(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

## Map and Lambda function :
- The map() function is a built-in function that takes a `function` and an `iterable` as arguments, and returns an iterator that applies the function to each element of the iterable. 
- The map function in Python takes two arguments: a function and an iterable (e.g., a list). 
- It applies the function to each element of the iterable and returns a new iterable with the results. - The map function allows you to apply the same operation to multiple items in a convenient and concise way.

In [20]:
# Define a function
def square(x):
    return x ** 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Convert the map object to a list
result = list(squared_numbers)

print(result)

[1, 4, 9, 16, 25]

---
- A lambda function, also known as an anonymous function, is a way to define a small function in a single line without formally defining it with the `def` keyword. 
- Lambda functions are handy when you need a simple function for a short period of time.
- The lambda keyword is used to create small, anonymous functions that can be used as arguments to higher-order functions like `map()`.
---

In [1]:
def add(a,b):
    return  a + b

In [ ]:
add = lambda a,b : a+b

In [2]:
add(8,5)

13

In [3]:
square = lambda x : x**2

In [4]:
square(5)

25

In [ ]:
def square(n):
    return n **2

In [3]:
square = lambda x :  x * x
result = square(3)
print(result) # 9

9

In [ ]:
add = lambda x, y: x + y
result = add(3, 5)
print(result)  # Output: 8

In [11]:
t = ('key','value')
random = lambda x : x[1]

In [12]:
random(t)

'value'

In [8]:
is_even = lambda x: x % 2 == 0

is_even(3)

False

In [5]:
a = '5'
int(a)

5

In [9]:
l = [1,3,4,5]
list(map(lambda x : x**2, l))

[1, 9, 16, 25]

In [8]:
t = ('4','5','6')
map_object = map(int,t)
tuple(map_object)

(4, 5, 6)

In [21]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map with a lambda function to square each element in the list
squared_numbers = map(lambda x: x ** 2, numbers)

# Convert the map object to a list
result = list(squared_numbers)

print(result)

[1, 4, 9, 16, 25]

In [3]:
l = ['4','6','5','3','6']

In [6]:
id(l)

2547450331200

In [8]:
for i in map(int,l):
    print(i)

4
6
5
3
6

In [2]:
list(map(lambda x : x**2, [1,23,55,66]))

[1, 529, 3025, 4356]