# Python Basics

---
## Variables :
- Variables are used to store some data.
- In Python, you can create a variable by assigning a value to it using the = operator. 
- For example, x = 5 creates a variable named x and assigns the value 5 to it.

In [1]:
x = 15
y = 6

In [2]:
print("THIS IS THE VALUE OF X: ",x)
print("THIS IS THE VALUE OF X: ",x)
print("THIS IS THE VALUE OF X: ",x)
print("THIS IS THE VALUE OF X: ",x)
print(y)
print(x+y)
print(x+4)

THIS IS THE VALUE OF X:  15
THIS IS THE VALUE OF X:  15
THIS IS THE VALUE OF X:  15
THIS IS THE VALUE OF X:  15
6
21
19

## KeyWords :
- Keywords are reserved words in Python that have special meanings and cannot be used as variable names.
- Some examples of keywords in Python are `if, else, for, while, def, class,` etc.

## Statements & Comments: 
- A statement is an instruction that the Python interpreter can execute. For example, `x = 5` is an assignment statement that assigns the value 5 to the variable x. 
- Comments are lines of text in your code that are ignored by the interpreter and are used to explain what your code does. In Python, you can create a comment by starting a line with the # symbol.

In [3]:
x=5 # This is an assignment statement.
# this is a comment.
'''

THIS IS ALSO a COMMENT

'''

'\n\nTHIS IS ALSO a COMMENT\n\n'

## Indentation: 
- Indentation refers to the use of whitespace at the beginning of a line to define the structure of your code. In Python, indentation is used to define blocks of code, such as the body of a function or loop.

In [4]:
for i in range(4):
    print(i)

0
1
2
3

## Data types: 
- Data types refer to the type of data that can be stored in a variable. Some common data types in Python are integers, floats, strings, lists, tuples, dictionaries, etc.

In [5]:
x = 5 #int
y = 4.03 #float
z = 'string' #string
l = [1,2,3,'hello']  #list
t = (1,2,2,3,'world')
d = {'key1':1,'key2':'hello','key3':44} #dictionary

In [6]:
print(d)

{'key1': 1, 'key2': 'hello', 'key3': 44}

In [9]:
a = ' 4'
print(type(a))

<class 'str'>

In [13]:
a = 'dhruv'
b = ' tiwari'
a+b

'dhruv tiwari'

In [14]:
a = '4'
b = '5'
a+b

'45'

In [15]:
students = {'id':1,'Name':'DHRUV', 'AGE' : 19}

In [16]:
print(students['id'])

1

In [17]:
class_ ={'id':[1,2,3],'NAME':['DHRUV','xyz','abc']}

In [18]:
print(type(z))
print(type(d))

<class 'str'>
<class 'dict'>

In [19]:
list_ = [8,6,7,8,9,4,10]

In [20]:
len(list_)

7

In [21]:
print(sum(list_))

52

## Static Typing vs Dynamic Typing : 
- Static typing means that the type of a variable is determined at compile time, before the program is run. 
- In other words, the programmer must specify the type of each variable when writing the code, and the compiler checks that the operations performed on the variables are valid for their types.
- eg : `int x;  x = 5;`
- Python is a dynamically typed language, which means that the type of a variable is determined at runtime, and not at compile time like in statically typed languages. 
- This allows for more flexibility in writing code, but can also lead to runtime errors if you try to perform operations on incompatible types.

## Input and output: 
- Input refers to getting data from the user or from another source, while output refers to displaying data to the user or sending it to another destination. 
- In Python, you can use the input() function to get input from the user and the print() function to display output.

In [30]:
fname = input("Enter here : ")
lname = input("ENTER LAST NAME : ")
print(fname,end=' ')
print(lname)

Enter here : fasdj
ENTER LAST NAME : kdfks
fasdj kdfks

## Operators: 
- Operators are symbols that perform operations on values. Some common operators in Python are:
1. Arithmetic operators : performs mathematical operations.<br>` + - * /  `
2. Relational operators : Compare values and return a boolean result. Examples include greater than `(>)`, less than `(<)`, equal to `(==)`, not equal to `(!=)`, etc.
3. Assignment operators: Assign values to variables. The most common assignment operator is` = ` .
4. Logical operators: Perform logical operations such as AND `(and)`, OR `(or)`, NOT `(not)`.
5. Membership operators: Test if a value is a member of a sequence or not. Examples include `in` and `not in`.
6. Identity operators: Test if two variables refer to the same object in memory or not. Examples include `is` and `is not`.

In [ ]:
#Examples :
4+5

In [ ]:
x= 4
y = 5

In [ ]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y) # False
print(x is z) # True
print(x is not y) # True

In [37]:
a = [1,2,3,3,4,45,5,5,6,77,8]
b = 4
for i in a:
    if i == b:
        print("4 is present")
    else:
        print("4 is not present")

4 is not present
4 is not present
4 is not present
4 is not present
4 is present
4 is not present
4 is not present
4 is not present
4 is not present
4 is not present
4 is not present

---

# Control Flow :
- Control flow refers to the order in which statements are executed in a program. 
- In Python, you can use conditional statements and loops to control the flow of your program.

--- 
## If statement: 
- The if statement is used to execute a block of code only if a certain condition is true.

In [40]:
x = -1
if x > 0:
    print("x is positive")
    
else:
    print("X is negative")

X is negative

---
## If-else: 
- The if-else statement is used to execute one block of code if a condition is true, and another block of code if the condition is false.

In [41]:
x = -5
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

x is not positive

---
## If-elif-else: 
- The if-elif-else statement is used to test multiple conditions and execute different blocks of code depending on which condition is true.

In [42]:
x = 5
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is positive

---
## Nested if-else: 
- You can nest if-else statements inside other if-else statements to test multiple conditions in a hierarchical manner.

In [45]:
x = 1
y = -1
if x > 0:
    if y > 0:
        print("Both x and y are positive")
    else:
        print("x is positive but y is not positive")
else:
    print("x is not positive")

x is positive but y is not positive

In [49]:
x = 1
y = -1
if x > 0 and y > 0:
    print("BOTH values are positive")
elif x >0 and y < 0 :
    print("x is postive and y is negative")

x is postive and y is negative

---
## While loop: 
- The while loop repeatedly executes a block of code as long as a certain condition remains true.

In [53]:
i = 1
while i <= 5:
    print(i)
#     i += 1
    i = i +1

1
2
3
4
5

---
## For loop :
- The for loop is used to iterate over a sequence (such as a list, tuple, or string) or other iterable object, and execute a block of code for each item in the sequence.

In [60]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i,end=' ')

1 2 3 4 5

## Nested for loop: 
- You can nest one for loop inside another for loop to iterate over multiple sequences at once.

In [ ]:
i = 0,1,2
j = 0,1,2

In [64]:
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(i, j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

## Nested while loop: 
- Similarly to nested for loops, you can also nest one while loop inside another while loop.

In [66]:
i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(i,j)
        j +=1
        
    i +=1

print("ended")

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
ended

## Loop with else: 
- In Python, you can use an else statement with a loop. The code in the else block is executed when the loop finishes normally (i.e., when the condition becomes false), but not when the loop is terminated by a break statement.

In [ ]:
for i in range(3):
    print(i)
else:
    print("The loop finished normally")

---
## Pass statement: 
- The pass statement is a placeholder statement that does nothing. It is used when you need a statement in your code for syntactic reasons, but you donâ€™t want the statement to do anything.

In [ ]:
x = 5
if x > 0:
    pass

--- 
## Break and continue: 
- The break and continue statements are used to control the flow of execution inside loops.
- The break statement terminates the innermost loop and transfers control to the next statement after the loop. 
- The continue statement skips the rest of the current iteration of the loop and moves on to the next iteration.

In [67]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [68]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

 ## create a program that takes a number as input and checks its divisibility with 2 and 3.

In [75]:
# code :
number = int(input("Enter the number : "))
if (number % 2) == 0:
    if (number % 3) == 0:
        print(number," is divisble by 2 and 3")
    else:
        print(number, "is divisible by 2 but not with 3")
        
else:
    print("number is not divisible by both ")

Enter the number : 5
number is not divisible by both

In [79]:
number = int(input("Enter the number : "))
if (number % 2) == 0 and (number % 3) == 0 :
    print(number, "is divisible by 2 and 3")
else:
    print("number is not divisible by any or both ")

Enter the number : 6
6 is divisible by 2 and 3

## Printing patterns:

---
'''
### Q. print the following patter using loops and if-else statements.
 
    * * * *
    * * * *
    * * * *
    * * * *
    
'''

In [81]:
a = '4'
a *4

'4444'

In [86]:
n = 4
for i in range(1,n+1):
    print('x ' * n)

x x x x
x x x x
x x x x
x x x x

In [89]:
for i in range(6):
    for j in range(6):
        print("* ",end='')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

---
'''
### Q. print the following patter using loops and if-else statements.
 
    *
    * *
    * * *
    * * * *
    
'''

---

In [ ]:
# write code here
n = 4
for i in range(1,n+1):
    print("*" * i )
    
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

---

'''

## Q.Python Program to print star pattern 2


    * * * * *
    * * * *
    * * *
    * *
    *

'''

In [ ]:
# write code here
n = 4
for i in range(1,n+1):
    print('* ' * n)
    n -=1
    

n = 4   
for i in range(n):
    for j in range(n-i):
        print("*", end=' ')
    print()


---


### Q.Python Program to print star Triangle pattern 3

     Enter number of rows:5
         *
        **
       ***
      ****
     *****

---
'''

In [ ]:
# USING WHILE LOOP
n = 5
i = 1
while i <= n:
    space = 1
    while space <= n-i:
        print(" ", end='')
        space += 1
    
    star = 1
    while star <= i:
        print("*", end="")
        star += 1
    print()
    i += 1

In [91]:
# USING FOR LOOP
n= 5
for i in range(1,n+1):
    for space in range(n-i):
        print(" ",end='')
    for star in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

---