In [ ]:
print("THIS Is a message!")

In [ ]:
print("Hello world!")

# Python Basics

---
## Variables :
- Variables are used to store some data.
- In Python, you can create a variable by assigning a value to it using the = operator. 
- For example, x = 5 creates a variable named x and assigns the value 5 to it.

In [ ]:
x  = 10 # int
y= 6.8 # float
name = "abc" # strings

In [ ]:
new_variable = x + 10

In [ ]:
new_variable

In [ ]:
print("THIS IS THE VALUE OF X: ",x)
print(y)
print(x+y)
print(x+4)

## KeyWords :
- Keywords are reserved words in Python that have special meanings and cannot be used as variable names.
- Some examples of keywords in Python are `if, else, for, while, def, class,` etc.

## Statements & Comments: 
- A statement is an instruction that the Python interpreter can execute. For example, `x = 5` is an assignment statement that assigns the value 5 to the variable x. 
- Comments are lines of text in your code that are ignored by the interpreter and are used to explain what your code does. In Python, you can create a comment by starting a line with the # symbol.

In [ ]:
x = 5 # this is an assignment statement

# kjsdkjf

print(x) 

# this is a single line comment.hgdhufhufuifhfuhf

'''
iu9uhuih
THIS IS ALSO a COMMENT
This is a comment too 
this is also a comment

'''

## Indentation: 
- Indentation refers to the use of whitespace at the beginning of a line to define the structure of your code. In Python, indentation is used to define blocks of code, such as the body of a function or loop.

In [ ]:
for i in range(4):
    print(i)

## Data types: 
- Data types refer to the type of data that can be stored in a variable. Some common data types in Python are integers, floats, strings, lists, tuples, dictionaries, etc.

In [ ]:
x = 5 #int # whole numbers
y = 4.03 #float --> decimal values
z = 'drfgff' #string --> textual 

l = [1,2,3,'hello',[1,6,7]]  #list
t = (1,2,2,3,'world') #tuples
d = {'key1':[1,2,4,6],'key2':'hello','key3':44} #dictionary

In [ ]:
print(d)

In [ ]:
d['key1']

In [ ]:
variable

In [ ]:
type(4)

In [ ]:
a = "4"
print(type(a))

In [1]:
a = 'fname'
b = ' lastname'
a+b

'fname lastname'

In [3]:
a = '4'
b = '5'
a = int(a)
b = int(b)
a+b

9

In [ ]:
students = {'id':[1,2,3,4,5],'Name':['DHRUV','abc','xyz'] ,'AGE' : 19}

In [ ]:
print(students['id'])

In [ ]:
class_ ={'id':[1,2,3],'NAME':['DHRUV','xyz','abc']}

In [ ]:
print(type(z))
print(type(d))

In [ ]:
list_ = [8,6,7,8,9,4,10]

In [ ]:
len(list_)

In [ ]:
print(sum(list_))

## Static Typing vs Dynamic Typing : 
- Static typing means that the type of a variable is determined at compile time, before the program is run. 
- In other words, the programmer must specify the type of each variable when writing the code, and the compiler checks that the operations performed on the variables are valid for their types.
- eg : `int x;  x = 5;`
- Python is a dynamically typed language, which means that the type of a variable is determined at runtime, and not at compile time like in statically typed languages. 
- This allows for more flexibility in writing code, but can also lead to runtime errors if you try to perform operations on incompatible types.

## Input and output: 
- Input refers to getting data from the user or from another source, while output refers to displaying data to the user or sending it to another destination. 
- In Python, you can use the input() function to get input from the user and the print() function to display output.

In [4]:
print("hello world")

hello world

In [8]:
fname = input("ENTER YOUR FIRST NAME : ")
lname = input("ENTER LAST NAME : ")
print(fname , end= ' ')
print(lname)
print("this is a message")

ENTER YOUR FIRST NAME : jgfkf
ENTER LAST NAME : hghkf
jgfkf hghkf
this is a message

In [ ]:
4 < 5

## Operators: 
- Operators are symbols that perform operations on values. Some common operators in Python are:
1. Arithmetic operators : performs mathematical operations.<br>` + - * /  `
2. Relational operators : Compare values and return a boolean result. Examples include greater than `(>)`, less than `(<)`, equal to `(==)`, not equal to `(!=)`, etc.
3. Assignment operators: Assign values to variables. The most common assignment operator is` = ` .
4. Logical operators: Perform logical operations such as AND `(and)`, OR `(or)`, NOT `(not)`.
5. Membership operators: Test if a value is a member of a sequence or not. Examples include `in` and `not in`.
6. Identity operators: Test if two variables refer to the same object in memory or not. Examples include `is` and `is not`.

In [16]:
name = 'batman'

'man' not in name

False

In [9]:
4 % 2

UsageError: Line magic function `%` not found.

In [ ]:
s = [4,5,6]
y = [4,5,6]
print(id(s))
print(id(y))

In [ ]:
s is not y

In [ ]:
s is y

In [ ]:
name =  'TH is a vairable'
# check if is is present or not

if 'is' not in name:
    print("yes")

In [ ]:
#Examples :
4+5

In [ ]:
<=

In [ ]:
x= 4
y = 5

In [ ]:
x != y

In [ ]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)

In [ ]:
my_list = ["bread","milk","peanut butter"]

if "bread" not in my_list:
    print("YES it is present")

In [19]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(id(x))
print(id(z))


# print(x is not y)
print(x is z)

2349770023104
2349770023104
True

---

# Control Flow :
- Control flow refers to the order in which statements are executed in a program. 
- In Python, you can use conditional statements and loops to control the flow of your program.

--- 
## If statement: 
- The if statement is used to execute a block of code only if a certain condition is true.

In [12]:
x= 0
if x > 0:
    print("X is positive")
    print("THIS OS SSSSS")
    print('kkkhkh')
elif x < 0:
    print("X IS NEGATIVE")
else:
    print(" x id gjhklj;%%javascript")

 x id gjhklj;%%javascript

In [ ]:
x = 2

if x > 0 :
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("This will run if the if statement returns false")

In [ ]:
x = int(input("ENTER a number : "))

if x > 0:
    print("x is positive")
    print("THIS WILL RUN")
    print("THIS IS A STATement that will run only if the condition is true.")
elif x < 0:
    print("X is negative")
else:
    print("X is zero")

---
## If-else: 
- The if-else statement is used to execute one block of code if a condition is true, and another block of code if the condition is false.

In [ ]:
x = -5
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

---
## If-elif-else: 
- The if-elif-else statement is used to test multiple conditions and execute different blocks of code depending on which condition is true.

In [ ]:
x = int(input("ENTER A NUMBER"))
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

In [23]:
m = int(input("Enter Marks"))

if m >= 80:
    print("O Grade")
    
elif m>=60 and m<80:
    print("A grade")
    
elif m>=40 and m<60:
    print("pass")
    
elif 40> m >=29:
    print("pass")
else:
    print("fail")

Enter Marks65
A grade

---
## Nested if-else: 
- You can nest if-else statements inside other if-else statements to test multiple conditions in a hierarchical manner.

In [20]:
x = -1
y = -1

if x > 0:
    if y > 0:
        print("x and y is positive.") 
    else:
        print("x is positive but y is not positive")
else:
    if y < 0:
        print("x is negative and y is also negative")
    else:
        print("x is negative and y is postive")

x is negative and y is also negative

In [ ]:
# python is a case sensitive language
x = 5
X ='ssf'

In [ ]:
x = int(input("Enter first number: ")) #0
y = int(input("Enter second number: ")) #-7

if x > 0 and y > 0:
    print("BOTH values are positive")
elif x >0 and y < 0 : # true
    print("x is postive and y is negative")
elif x < 0 and y > 0 :
    print("x is negative but y is postive.")
else:
    print("BHai chup chap kuch ache numbers de..")

In [ ]:
# write a python program to check if a number is even or odd
n = int(input("ENTER A NUMBER : "))
if n % 2 == 0:
    print(n," is even.")
else:
    print(n, " is odd.")

In [ ]:
print("HELLO WORLD")
print("HEllO WORLD")
for i in range(1,11):
    print('hello world')

In [ ]:
i = 1 #4
while i <=5:
    print("hello World")
    i = i+1

---
## While loop: 
- The while loop repeatedly executes a block of code as long as a certain condition remains true.

In [ ]:
2%2

In [ ]:
0 == 0

In [ ]:
4%2

In [ ]:
# THIS WILL PRINT ALL THE EVEN NUMBERS TILL 20
i =1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i = i+1

In [ ]:
6%2

In [ ]:
# ODD NUMBERS
i =1
while i <= 20:
    if i % 2 != 0:
        print(i)
    i = i+1

In [ ]:
i = 1
while i <= 5:
    print(i)
    i = i +1

In [ ]:
4%2

---
## For loop :
- The for loop is used to iterate over a sequence (such as a list, tuple, or string) or other iterable object, and execute a block of code for each item in the sequence.

In [ ]:
1-2-3-4-5-6-7-8-9-
1-2-3-4-5-6-7-8-9-
1-2-3-4-5-6-7-8-9-

In [ ]:
# NEsTED LOOPS
for j in range(3):
    
    for i in range(1,10):
        print(i,end='-')
    print()

In [ ]:
s = 'zayn'
for i in s:
    print(i*2)

In [ ]:
tp = ('bread','milk','eggs')
string = "bread"

In [ ]:
shopping_list = ['bread','milk','eggs']
for single_element in shopping_list:
    print(single_element)

In [ ]:
print(list(range(1,11)))

In [ ]:
1%2  != 0

In [ ]:
# print even numbers from 1 to 20 using for loop.
for i in range(1,21):
    if i % 2 != 0:
        print(i,end=" ")

In [ ]:
# I want ALL the numbers from 1 to 30 that are divisile by 3 # for loop
for i in range(1,31):
    if i % 3 ==0:
        print(i,end=" ")

In [ ]:
list(range(3))

In [ ]:
for j in range(3):
    for i in range(1,10):
        print(i ,end="-")
    print()

In [ ]:

1-2-3-4-5-6-7-8-9-
1-2-3-4-5-6-7-8-9-

In [ ]:
list(range(0,21,3))

In [ ]:
for i in range(1,21):
    if i % 2 == 0:
        print(i,end= " ")

In [ ]:
for i in range(1,21):
    if i % 2 != 0:
        print(i, end = ' ')

In [ ]:
# numbers = [1, 2, 3, 4, 5] 
for i in range(1,6):
    print(i,end=' ')

In [ ]:
for i in range(2,6):
    print(i)

## Nested for loop: 
- You can nest one for loop inside another for loop to iterate over multiple sequences at once.

In [ ]:
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [ ]:
# 1--9
for j in range(3):
    for i in range(1,10):
        print(i,end = ' ')
    print()

In [ ]:
i = 0,1,2
j = 0,1,2

## Nested while loop: 
- Similarly to nested for loops, you can also nest one while loop inside another while loop.

In [ ]:
i = 1
while i <= 2:
    j = 1
    while j <= 2:
        print(i,j)
        j +=1
        
    i +=1

print("ended")

## Loop with else: 
- In Python, you can use an else statement with a loop. The code in the else block is executed when the loop finishes normally (i.e., when the condition becomes false), but not when the loop is terminated by a break statement.

In [ ]:
for i in range(3):
    print(i)
else:
    print("The loop finished normally")

---
## Pass statement: 
- The pass statement is a placeholder statement that does nothing. It is used when you need a statement in your code for syntactic reasons, but you donâ€™t want the statement to do anything.

In [ ]:
x = 5
if x > 0:
    pass
    
    

print("HKDKD")
print("message")

--- 
## Break and continue: 
- The break and continue statements are used to control the flow of execution inside loops.
- The break statement terminates the innermost loop and transfers control to the next statement after the loop. 
- The continue statement skips the rest of the current iteration of the loop and moves on to the next iteration.

In [ ]:
while True:
    inp = input("enter something : ")
    if inp == "quit":
        break

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

In [ ]:
i = 3
while True: 
    if i == 21:
        break
    print(i)
    i = i+3

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

In [ ]:
# print even and odd using continue 1 to 20
for i in range(1,21):
    if i%2 !=0:
        continue
    print(i,end=" ")

 ## create a program that takes a number as input and checks its divisibility with 2 and 3.

In [ ]:
# code :
number = int(input("Enter the number : "))
if (number % 2) == 0:
    if (number % 3) == 0:
        print(number," is divisble by 2 and 3")
    else:
        print(number, "is divisible by 2 but not with 3")
        
else:
    print("number is not divisible by both ")

####  and ==> 
t+ t ==> T

###  OR
t + t =t
t+f = t
f+t = t
F + f = F

In [ ]:
4%3

In [ ]:
# code :
number = int(input("Enter the number : "))
if (number % 2) == 0 and (number % 3) == 0 :
    print("number is divisible by both")
    
elif (number % 2) == 0 and (number % 3) != 0 :
    print("number is divisible by only 2")
    
elif (number % 2) != 0 and (number % 3) == 0 :
    print("number is divisible by only 3")

else:
    print("number is not divisble by both.")

## Printing patterns:

---
'''
### Q. print the following patter using loops and if-else statements.
 
    * * * *
    * * * *
    * * * *
    * * * *
    
'''

In [ ]:
print("* " * 4)

In [ ]:
for i in range(1,5):
    print("* " * 4)

In [ ]:
s1 = "* "
s2 = "#"

print("* " *4)

In [ ]:
for i in range(4):
    print("* " *4)

In [ ]:
for j in range(4):
    for i in range(4):
        print("* ",end='')
    print()

In [ ]:
i =1
while i <=4:
    j =1
    while j <=4:
        print("* ",end="")
        j +=1
    
    print()
    i+=1

In [ ]:
n = 4
for i in range(4):
    print("* " *4)

In [ ]:
for i in range(4):
    print("* ",end="")

In [ ]:
n =4
for i in range(n):
    for j in range(n):
        print("(^)", end=" ")
    print()

---
'''
### Q. print the following patter using loops and if-else statements.
 
    *
    * *
    * * *
    * * * *
    
'''

---

In [ ]:
i =1
while i <=4:
    j = 1
    while j <=i:
        print("*",end=" ")
        j +=1
    print()
    i +=1

In [ ]:
print("* " *3)

In [ ]:
n = 4
for row in range(1,n+1):
    print("* " * row)

In [ ]:
n = 4
for row in range(1,n+1):
    for column in range(row):
        print("* ",end="")
    print()

In [ ]:
# write code here
n = 4
for i in range(1,n+1):
    print("*" * i )
    
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

---

'''

## Q.Python Program to print star pattern 2


    * * * * *
    * * * *
    * * *
    * *
    *

'''

In [ ]:
n = 4
for i in range(n):
    print("* "* (n-i))

In [ ]:
n=4
for i in range(n):
    for j in range(n-i):
        print("* ",end='')
    print()

In [ ]:
i= 1
k =5
while i <=5:
    j = k
    while j > 0:
        print("*", end= " ")
        j -=1
    print()
    i +=1
    k -=1

In [ ]:
n =5
for i in range(n):
    for j in range(n-i):
        print("* ",end="")
    print()

In [ ]:
n = 5
for i in range(5):
    print("* " * (n-i) )

In [ ]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("* ", end="")
    print()

In [ ]:
i = 1
n = 5
while i <= 5:
    k = n
    while k >0 :
        print("* " ,end="")
        k = k-1
    print()
    n = n-1
    i = i +1

In [ ]:
# write code here
n = 4
for i in range(1,n+1):
    print('* ' * n)
    n -=1
    

n = 4   
for i in range(n):
    for j in range(n-i):
        print("*", end=' ')
    print()


---


### Q.Python Program to print star Triangle pattern 3

     Enter number of rows:5
         *
        **
       ***
      ****
     *****

---
'''

In [ ]:
i =1
n = 5
while i <=n:
    
    space = n-i
    while space > 0:
        print(" ",end =' ')
        space -=1
    
    star = 1
    while star <= i:
        print("*",end=" ")
        star +=1
        
    print()
    i +=1

In [ ]:
n =5
for i in range(1,n+1):
    for space in range(n-i):
        print(" ",end=" ")
    for star in range(i):
        print("*",end=" ")
    print()

In [ ]:
# USING WHILE LOOP
n = 5
i = 1
while i <= n:
    space = 1
    while space <= n-i:
        print(" ", end='')
        space += 1
    
    star = 1
    while star <= i:
        print("*", end="")
        star += 1
    print()
    i += 1

In [ ]:
# USING FOR LOOP
n= 5
for i in range(1,n+1):
    for space in range(n-i):
        print(" ",end='')
    for star in range(i):
        print("*",end="")
    print()

---