# SET :
- A set is an unordered collection of unique elements. 
- It is similar to a list or a tuple, but unlike lists and tuples, sets do not allow duplicate values. - Sets are defined using curly braces `{}` or the `set()` constructor. 
- Sets are useful when you want to perform mathematical set operations like union, intersection, and difference.

---
## Creating a set :

In [1]:
l = [1,2,3,1,4,1,1,1,1,5,6]
s = set(l)
s

{1, 2, 3, 4, 5, 6}

In [2]:
# Creating a set with curly braces
my_set = {1 , 2, 3, 4, 5,5}
print(my_set)

# Creating a set with set() constructor
another_set = set([3, 4, 5, 6, 7])
print(another_set)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [3]:
my_set = {3, 1, 2,44,66,1,2,99,23,4,5,66,22}
print(my_set)

{1, 2, 99, 3, 66, 4, 5, 44, 22, 23}

---
### Basic Set Operations:

1. `add()`: Adds an element to the set.
2. `remove()`: Removes an element from the set. Raises a KeyError if the element is not found.
3. `discard()`: Removes an element from the set if it exists. Does not raise an error if the element is not found.
4. `pop()`: Removes and returns an arbitrary element from the set.

In [4]:
my_set

{1, 2, 3, 4, 5, 22, 23, 44, 66, 99}

In [5]:
my_set.add('string')
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 99, 3, 66, 4, 5, 44, 'string', 22, 23}

In [6]:
my_set

{1, 2, 22, 23, 3, 4, 44, 5, 66, 99, 'string'}

In [7]:
my_set.add('string')
print(my_set)

{1, 2, 99, 3, 66, 4, 5, 44, 'string', 22, 23}

In [8]:
my_set.remove('string')

In [9]:
my_set

{1, 2, 3, 4, 5, 22, 23, 44, 66, 99}

In [10]:
my_set.remove('string')
print(my_set)

KeyError: 'string'

In [11]:
my_set.discard('string')

In [ ]:
my_set.discard(4)
print(my_set)  # Output: {1, 2, 5, 6}

In [ ]:
my_set.discard(4)
print(my_set)

In [16]:
my_set

{1, 2, 3, 4, 5, 22, 23, 44, 66, 99}

In [20]:
popped_element = my_set.pop()
print(popped_element)  # Output: 1
print(my_set)  # Output: {2, 5, 6}

3
{66, 4, 5, 44, 22, 23}

In [12]:
popped_element = my_set.pop()
print(popped_element)  # Output: 1
print(my_set)

1
{2, 99, 3, 66, 4, 5, 44, 22, 23}

In [13]:
popped_element = my_set.pop()
print(popped_element)  # Output: 1
print(my_set)  # Output: {2, 5, 6}

2
{99, 3, 66, 4, 5, 44, 22, 23}

---
### Set Operations:

- `union()`: Returns a new set with all the unique elements from both sets.
- `intersection()`: Returns a new set with elements that are common in both sets.
- `difference()`: Returns a new set with elements that are in the first set but not in the second set.
- `symmetric_difference()`: Returns a new set with elements that are in either set but not in both.
- `issubset()`: Checks if one set is a subset of another.
- `issuperset()`: Checks if one set is a superset of another.
- `clear()`: Removes all elements from the set.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [16]:
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
and 
&

In [17]:
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}
{3}

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
# y.intersection_update(x)
print(x)
print(y)

{'apple'}
{'microsoft', 'apple', 'google'}

In [20]:
print(new_set)

NameError: name 'new_set' is not defined

In [27]:
set1 = set([1,2,3,5])
set2 = set([3,5,6,6])

In [21]:
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2}
{1, 2}

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_diff_set = set1.symmetric_difference(set2)
print(symmetric_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [24]:
set1 = {3, 5}
set2 = {3, 4, 5}
subset_check = set2.issubset(set1)
print(subset_check)

False

In [25]:
# if all elements of B are contained within A, then A is a superset of B. 
A = {1, 2, 3, 4, 5}
B = {3, 4}
superset_check = A.issuperset(B)
print(superset_check)

True

In [26]:
my_set.clear()
print(my_set)  # Output: set()

set()

In [27]:
my_set

set()

---
### NOTE :
- Sets are efficient for membership tests and removing duplicates from a collection. 
- They are widely used when you need to work with a collection of unique elements and perform set operations efficiently. 
- Keep in mind that since sets are unordered, the elements will not retain their original order when printed.
---

# Questions :

- Q. Write a Python program to find the common elements between two lists using sets.
- Q. Write a Python program to find the unique elements in a list using sets.
- Q. Remove an element from a set if it exists, or print a message if the element is not present.
- Q.Write a Python program to find the second largest element in a set of integers.

In [37]:
# Write a Python program to find the common elements between two lists using sets.
l1 = [1,2,3,4,56,7,22,9]
l2 = [1,2,4,5,6,72,22,1]

s1 = set(l1)
s2 = set(l2)
s1.intersection(s2)

{1, 2, 4, 22}

In [38]:
# Write a Python program to find the unique elements in a list using sets.
l1 = [1,2,3,4,56,7,22,9,9,9]
l1 = set(l1)
l1

{1, 2, 3, 4, 7, 9, 22, 56}

In [44]:
#  Remove an element from a set if it exists, or print a message if the element is not present.
s = {1,2,3,4,5,6}
key = 9
if key in s:
    s.remove(key)
    print(s)
else:
    print("elements is not present")

elements is not present

In [32]:
# Write a Python program to find the second largest element in a set of integers.

l1 = [1,2,3,4,56,7,22,9,9,9]

sh = sorted(set(l1),reverse=True)[1]
print(sh)

22

In [41]:
def sh(l: list):
    return sorted(set(l),reverse=True)[1]

In [42]:
sh([1,2,3,4,5,6,7])

6

In [ ]:
my_list = ['abc','xyz',1,2,3]
my_set = set(my_list)
my_set

In [ ]:
l1 = [1,2,3,66,55,77,0]
l2= [45,33,66,77,88,9]

common_elements = set(l1).intersection(set(l2))
print(common_elements)

In [ ]:
l = [1,2,2,2,4,5,5,6,6,7,8,8]
print(list(set(l)))

In [ ]:
def present_or_not(list_,key):
    if key in set(list_):
        list_.remove(key)
        print('success')
    else:
        print("key is not present")

In [ ]:
l = [45,33,66,77,88,9]
key = 4

present_or_not(l,key)

In [ ]:
l = [45,33,66,77,88,9]
sorted(list(set(l)),reverse=True)[1]

In [ ]:
# 1
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = set(list1).intersection(list2)
print(common_elements)  # Output: {3, 4, 5}

In [ ]:
# 2
my_list = [1, 2, 2, 3, 3, 4, 5, 5]

unique_elements = set(my_list)
print(unique_elements)  # Output: {1, 2, 3, 4, 5}

In [ ]:
# 3
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = set(list1).intersection(list2)
print(common_elements)  # Output: {3, 4, 5}

In [ ]:
# 4
my_set = {1, 2, 3}

element_to_remove = 3
if element_to_remove in my_set:
    my_set.remove(element_to_remove)
    print(f"Removed {element_to_remove} from the set.")
else:
    print(f"{element_to_remove} is not present in the set.")

In [ ]:
def second_largest_element(my_set):
    # Convert the set to a list and sort it in descending order
    sorted_list = sorted(list(my_set), reverse=True)

    if len(sorted_list) < 2:
        return None
    else:
        return sorted_list[1]

In [ ]:
# Example usage:
my_set = {10, 20, 5, 30, 15}
result = second_largest_element(my_set)
print(result)