# TUPLES

- Tuples in Python are collections of objects that are ordered, unchangeable, and can allow duplicate values.
- They are similar to lists, but they are immutable, meaning that you cannot add, remove, or change their elements once they are created.
- Tuples are written with round brackets () and the items are separated by commas.

In [1]:
# e.g :
my_var = (2,2,'abc',[5,5,5])
fruits = ("apple", 'banana', "cherry",'mango','cherry','grapes')

In [7]:
fruits[-3:]

('mango', 'cherry', 'grapes')

In [3]:
# accessing elements
fruits[3][2]

'n'

In [4]:
result = fruits[-1]
result[0]

'g'

In [ ]:
fruits[:4]

In [ ]:
fruits[-4:-1]

---

- You can also use the tuple() constructor to create a tuple from an iterable object, such as a list, a string, or a range.

---

In [9]:
my_list = [1,2,3,'abc','xyz']
print(type(my_list))


my_tuple = tuple(my_list)
print(type(my_tuple))
my_tuple

<class 'list'>
<class 'tuple'>

(1, 2, 3, 'abc', 'xyz')

In [ ]:
tuple(range(5))

In [10]:
mytuple = tuple(["a", "b", "c"]) # creates a tuple from a list 
print(mytuple)
mytuple = tuple("hello") # creates a tuple from a string 
print(mytuple)
mytuple = tuple(range(5)) # creates a tuple from a range
print(mytuple)

('a', 'b', 'c')
('h', 'e', 'l', 'l', 'o')
(0, 1, 2, 3, 4)

In [11]:
galaxies = ['sun','moon','earth']
new_tuple = tuple(galaxies)
print(new_tuple)
print(type(new_tuple))

('sun', 'moon', 'earth')
<class 'tuple'>

In [13]:
new_tuple = tuple(range(1,11))

In [14]:
new_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
len(new_tuple)

10

In [16]:
sum(new_tuple)

55

In [18]:
tuple(sorted(new_tuple,reverse=True))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [19]:
max(new_tuple)

10

In [22]:
import numpy as np

In [23]:
np.mean(new_tuple)

5.5

In [20]:
min(new_tuple)

1

In [24]:
new_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

## Adding items

TYPECASTING ==> CONVERTING a VALUE FROM ONE DATATYPE TO ANOTHER.

In [25]:
t = (1,2,3,4,5,6,7,8)
list(t)

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
print(y)
y.append("Mango")
tuple(y)

['apple', 'banana', 'cherry']

('apple', 'banana', 'cherry', 'Mango')

In [30]:
### 
a = ('thisisatuple')
print(type(a))
b = ('thisisatuple',)
print(type(b))

<class 'str'>
<class 'tuple'>

In [31]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)

thistuple + y

('apple', 'banana', 'cherry', 'orange')

In [32]:
## deletiing
thistuple = ("apple", "banana", "cherry")

In [33]:
del thistuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [34]:
del thistuple

In [35]:
thistuple

NameError: name 'thistuple' is not defined

In [37]:
# unpacking
 
    
thistuple = ("apple", "banana", "cherry")

a, b,c = thistuple

print(a)
print(b)
print(c)

apple
banana
cherry

In [38]:
thistuple

('apple', 'banana', 'cherry')

In [41]:
print(*(thistuple))

apple banana cherry

## JOINING Tuples

In [44]:
a = ('dhruv','abc','xyz')
b = ('srt','zzzz','abc')
result = a + b
result

('dhruv', 'abc', 'xyz', 'srt', 'zzzz', 'abc')

In [45]:
result.count('abc')

2

In [46]:
result.index('srt')

3

## Tuple Methods

- count() ==> Returns the number of times a specified value occurs in a tuple
- index() ==> Searches the tuple for a specified value and returns the position of where it was found

In [47]:
l = [1,2,3,5]
t = tuple([1,2,3,4])

In [49]:
import sys
sys.getsizeof(l)

120

In [50]:
sys.getsizeof(t)

72

- Tuples are generally faster than lists because they are stored in a single memory block and do not require extra space for new objects.
- Tuples consume less memory than lists because they do not have extra overhead for storing information about their size and state.
- Tuples are more suitable for accessing elements by index or iterating over them, while lists are more suitable for performing operations such as insertion, deletion, sorting, etc.

In [ ]:
a = ((1,2,3),
    (4,5,6))

In [ ]:
a[0]

# Q. Access value 50

In [52]:
t = (1,2,(4,5,6,50),["list"])

t[2][-1]

50

# Q. check if all the elements in a tuple are same

In [59]:
t = (2,44,44,44,44)

result = True

for i in t:
    if i != t[0]:
        result = False

result

False

In [53]:
def check_similarity(t):
    result = True
    for i in t:
        if i != t[0]:
            result = False
    return result

In [54]:
t = (44,44,44,44,44)
print(check_similarity(t))

True

In [10]:
for i in t:
    if i == t[0]:
        print("TRUE")
    else:
        print("False")

TRUE
TRUE
TRUE
TRUE
TRUE
False

In [ ]:
## NEsted tuples
b =(3,7,9)

a = (1,3,b,0,20,"string",[1,2,3,5])

In [ ]:
a[2][-1]

In [ ]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')

In [ ]:
def get_unique_elements(t):
    unique_elements = []
    for current_element in t:
        if current_element not in unique_elements:
            unique_elements.append(current_element)
    return tuple(unique_elements)

In [ ]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')
result = get_unique_elements(fruits)
print(result)

In [ ]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)
result = get_unique_elements(numbers_tuple)
print(result)

In [1]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)

max_occurance = []
for i in numbers_tuple:
#     print(i," : ",numbers_tuple.count(i))
    
    max_occurance.append(numbers_tuple.count(i))

# print()
for i in numbers_tuple:
    if numbers_tuple.count(i) == max(max_occurance):
        print(f"Mode is : {i} , occuring {max(max_occurance) } times. ")

Mode is : 5 , occuring 3 times.
Mode is : 5 , occuring 3 times.
Mode is : 5 , occuring 3 times.

In [ ]:
unique_fruits = []
for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)
sorted(unique_fruits)

In [ ]:
unique_fruits

In [ ]:
## REVERSING  A TUPLE
t = (5,6,7,8,9,1,2,34)

t[::-1]