# TUPLES

- Tuples in Python are collections of objects that are ordered, unchangeable, and can allow duplicate values.
- They are similar to lists, but they are immutable, meaning that you cannot add, remove, or change their elements once they are created.
- Tuples are written with round brackets () and the items are separated by commas.

In [1]:
myvar= (2,'abc',2,'abc',8,0)

In [3]:
myvar[0] =2

TypeError: 'tuple' object does not support item assignment

In [4]:
# e.g :
my_var = (2,2,'abc',[5,5,5])
fruits = ("apple", 'banana', "cherry",'mango','cherry','grapes')

In [6]:
fruits[2][3]

'r'

In [8]:
fruits[-3:]

('mango', 'cherry', 'grapes')

In [10]:
fruits[1:4]

('banana', 'cherry', 'mango')

In [ ]:
fruits[::-1]

In [ ]:
# accessing elements
fruits[3][2]

In [ ]:
result = fruits[-1]
result[0]

In [ ]:
fruits[:4]

In [ ]:
fruits[-4:-1]

---

- You can also use the tuple() constructor to create a tuple from an iterable object, such as a list, a string, or a range.

---

In [11]:
my_tuple = tuple([1,2,3,4,5])

In [12]:
type(my_tuple)

tuple

In [13]:
my_list = [1,2,3,'abc','xyz']
print(type(my_list))


my_tuple = tuple(my_list)
print(type(my_tuple))
my_tuple

<class 'list'>
<class 'tuple'>

(1, 2, 3, 'abc', 'xyz')

In [15]:
string = 'abcdef'
str_list = list(string)
str_list

['a', 'b', 'c', 'd', 'e', 'f']

In [14]:
string = 'abcdef'
str_tuple = tuple(string)
str_tuple

('a', 'b', 'c', 'd', 'e', 'f')

In [21]:
# range is used to generate numbers
tuple(range(1,21,3))

(1, 4, 7, 10, 13, 16, 19)

In [ ]:
tuple(range(5))

In [ ]:
mytuple = tuple(["a", "b", "c"]) # creates a tuple from a list 
print(mytuple)
mytuple = tuple("hello") # creates a tuple from a string 
print(mytuple)
mytuple = tuple(range(5)) # creates a tuple from a range
print(mytuple)

In [ ]:
galaxies = ['sun','moon','earth']
new_tuple = tuple(galaxies)
print(new_tuple)
print(type(new_tuple))

In [22]:
new_tuple = tuple(range(1,11))

In [23]:
new_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
len(new_tuple)

10

In [25]:
sum(new_tuple)

55

In [26]:
sum(str_tuple)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
new_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
tuple(sorted(new_tuple,reverse=True))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [31]:
tuple(reversed(new_tuple))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [32]:
max(new_tuple)

10

In [33]:
min(new_tuple)

1

In [34]:
new_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

## Adding items

TYPECASTING ==> CONVERTING a VALUE FROM ONE DATATYPE TO ANOTHER.

In [ ]:
t = (1,2,3,4,5,6,7,8)
list(t)

In [35]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
print(y)
y.append("Mango")
tuple(y)

['apple', 'banana', 'cherry']

('apple', 'banana', 'cherry', 'Mango')

In [43]:
t1 = ('1','abc')
t2 = ('4','dhfaks')
t4 = ('abc',)
t3 = t1+ t2

In [44]:
type(t4)

tuple

In [40]:
t2

('4', 'dhfaks')

In [38]:
t3

('1', 'abc', '4', 'dhfaks')

In [ ]:
### 
a = ('thisisatuple')
print(type(a))
b = ('thisisatuple',)
print(type(b))

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)

thistuple + y

In [45]:
## deletiing
thistuple = ("apple", "banana", "cherry")

In [46]:
del thistuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [47]:
del thistuple

In [48]:
thistuple

NameError: name 'thistuple' is not defined

In [49]:
# unpacking
 
    
thistuple = ("apple", "banana", "cherry")

a, b, c = thistuple

print(a)
print(b)
print(c)

apple
banana
cherry

In [50]:
thistuple

('apple', 'banana', 'cherry')

In [51]:
print(*(thistuple))

apple banana cherry

## JOINING Tuples

In [53]:
a = ('dhruv','abc','xyz')
b = ('srt','zzzz','abc','srt')
result = a + b
result

('dhruv', 'abc', 'xyz', 'srt', 'zzzz', 'abc', 'srt')

In [54]:
result.count('abc')

2

In [55]:
result.index('srt')

3

## Tuple Methods

- count() ==> Returns the number of times a specified value occurs in a tuple
- index() ==> Searches the tuple for a specified value and returns the position of where it was found

In [56]:
l = [1,2,3,4]
t = tuple([1,2,3,4])

In [57]:
import sys
sys.getsizeof(l)

88

In [58]:
sys.getsizeof(t)

72

- Tuples are generally faster than lists because they are stored in a single memory block and do not require extra space for new objects.
- Tuples consume less memory than lists because they do not have extra overhead for storing information about their size and state.
- Tuples are more suitable for accessing elements by index or iterating over them, while lists are more suitable for performing operations such as insertion, deletion, sorting, etc.

In [ ]:
a = ((1,2,3),
    (4,5,6))

In [ ]:
a[0]

# Q. Access value 50

In [61]:
t = (1,2,(4,5,6,50),["list"])

t[2][-1]

50

In [74]:
a = 'suraj'
a.upper()
print(a)

suraj

# Q. check if all the elements in a tuple are same

In [71]:
def check_same_or_not(t : tuple) -> bool:
    """
    This function takes a tuple and returns true if all the elements in that tuple are same.
    """
    result = True

    for i in t:
        if i == t[0]:
            pass
        else:
            result = False
    return result

In [64]:
t = (55,22,55,55)
result = True

for i in t:
    if i == t[0]:
        pass
    else:
        result = False
        
print(result)

False

In [ ]:
check_same_or_not()

In [69]:
result = check_same_or_not((3,3,3,3,3,3))

In [ ]:
check_same_or_not()

In [70]:
result

True

In [68]:
check_same_or_not([4,5,6,7,8,8,9])

False

In [ ]:
t = (44,44,44,44,2)

result = True

for i in t:
    if i != t[0]:
        result = False

result

In [ ]:
def check_similarity(t):
    result = True
    for i in t:
        if i != t[0]:
            result = False
    return result

In [ ]:
t = (44,44,44,44,44)
print(check_similarity(t))

In [ ]:
for i in t:
    if i == t[0]:
        print("TRUE")
    else:
        print("False")

In [ ]:
## NEsted tuples
b =(3,7,9)

a = (1,3,b,0,20,"string",[1,2,3,5])

In [ ]:
a[2][-1]

In [ ]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')

In [ ]:
def get_unique_elements(t):
    unique_elements = []
    for current_element in t:
        if current_element not in unique_elements:
            unique_elements.append(current_element)
    return tuple(unique_elements)

In [ ]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')
result = get_unique_elements(fruits)
print(result)

In [ ]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)
result = get_unique_elements(numbers_tuple)
print(result)

In [ ]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)

max_occurance = []
for i in numbers_tuple:
#     print(i," : ",numbers_tuple.count(i))
    
    max_occurance.append(numbers_tuple.count(i))

# print()
for i in numbers_tuple:
    if numbers_tuple.count(i) == max(max_occurance):
        print(f"Mode is : {i} , occuring {max(max_occurance) } times. ")

In [ ]:
unique_fruits = []
for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)
sorted(unique_fruits)

In [ ]:
unique_fruits

In [ ]:
## REVERSING  A TUPLE
t = (5,6,7,8,9,1,2,34)

t[::-1]