In [1]:
8 > 0

True

In [6]:
s = 0

if s > 0:
    print("statement 1")
    print("statement 2")
elif s < 0:
    print("S IS NEGATIVE")
else:
    print("STATEMENT $")

STATEMENT $

In [9]:
# LOOPS

x = 1
while x <=3:
    print("DO SOMETHING")
    x = x +1
    
print("ENDED")

DO SOMETHING
DO SOMETHING
DO SOMETHING
ENDED

In [11]:
# for loop

s = 'something'

for i in s:
    print(i * 4)

ssss
oooo
mmmm
eeee
tttt
hhhh
iiii
nnnn
gggg

In [16]:
for i in range(4):
    print("(^)")

(^)
(^)
(^)
(^)

In [ ]:
j = [0,1,2,3]
i = [0,1,2,3]

In [19]:
# NESTED FOR LOOP
for j in range(4):
    for i in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [22]:
# PASS
a = 1
while a > 10:
    pass
    
print("COMPLETED")

COMPLETED

In [24]:
# BREAK
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [25]:
# continue
for i in range(10):
    if i == 6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [32]:
2 % 2 != 0

False

In [33]:
# print even numbers from 1 to 20
for i in range(1,21):
    if i % 2 == 0:
        continue
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
* * * *
* * * *
* * * *
* * * *

In [40]:
def greet():
    print("SOMRTHKGSDLJFLKSDG")

In [41]:
greet()

SOMRTHKGSDLJFLKSDG

In [44]:
def mean(numbers_list): 
    add = sum(numbers_list)
    length = len(numbers_list)
    mean = add/length
    return mean

In [45]:
ans = mean([1,2,4,5,6,7])
ans

4.166666666666667

In [39]:
l3 = [4,5,6,7,2]
mean(l3)

4.8

In [34]:
# FUNCTIONS :
l = [1,2,4,5,6]
add = sum(l)
length = len(l)
mean = add/length
mean

3.6

In [36]:
l2 = [4,3,3,2,1]
add = sum(l2)
length = len(l2)
mean = add/length
mean

2.6

In [46]:
l3 = [3,4,4,5]

# STRINGS