## List Comprehension:

- List comprehension is a concise way to create lists in Python by applying an expression to each item in an iterable (like a list, tuple, or range) and collecting the results into a new list. 
- It's a powerful and efficient construct for generating lists without having to write traditional loops.



`new_list = [expression for item in iterable if condition]`


- expression: The operation you want to perform on each item in the iterable.
- item: The individual elements from the iterable.
- iterable: The collection of items you're iterating over.
- condition: to filter the elements based on some conditions.

In [ ]:
# create a list of even numbers from 1 to 20.

In [ ]:
even = []
for i in range(1,21):
    if i % 2 == 0:
        even.append(i)

In [ ]:
l = [5,6,7,8,1]
square = [i **2 for i in l if i %2 ==0]
square

In [ ]:
even = [i for i in range(1,21) if i % 2 == 0]
even

In [ ]:
even

In [ ]:
# generate a list of Square of every even number from 1 to 10
result = [i**2 for i in range(1,11) if i%2 == 0]
result

In [ ]:
result = [i**2 for i in range(1,11)]
result

In [ ]:
# generate a list of sqaures of numbers from 1 to 10

l = list(range(1,11))
print(l)
result = list(map(lambda x : x**2, l))
result

In [ ]:
result = []
for i in range(1,11):
    result.append(i**2)
    
print(result)

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

squares_of_even_nums = [i**2 for i in l if i%2==0]
squares_of_even_nums

In [ ]:
result = [i**2 for i in range(1,11)]
result

In [ ]:
result = []
for i in range(1,11):
    result.append(i**2)
    
result

In [ ]:
l = ['suraj','shahid','ankush','ankur','sanjay']

s = []

for i in l:
    if i[0] == 's':
        s.append(i)

print(s)

In [ ]:
s = [i for i in l if i[0] == 's']
s

In [ ]:
result = [i.capitalize() for i in l ]
result

In [ ]:
a = 'fname lname'
a.split()[0]

In [ ]:
fnames = []
for i in names:
    fnames.append(i.split()[0])
fnames

In [ ]:
names = ['fname lname','fname1 lname2']
fnames = [i.split()[0] for i in names]
fnames

In [ ]:
h_letters = []

for letter in 'human':
    h_letters.append(letter*2)

print(h_letters)

In [ ]:
h_letters = [letter*2 for letter in 'human' if letter != 'a']
h_letters

In [ ]:
num_list = [y for y in range(100)if y%2 ==0 if y%5==0 if y != 0 ]
print(num_list)

In [ ]:
[i**2]

In [ ]:
l = [4,5,6,1,3]
result = [(i,'even' if i %2 ==0 else 'odd') for i in l]
dict(result)

In [ ]:
n=[]
for i in l:
    if i%2 ==0:
        n.append("Even")
    else:
        n.append("ODD")
n

## FILTER FUNCTION:

In [ ]:
a = lambda x : x[0] == 's'
a('uraj')

In [ ]:
a =

In [ ]:
5 %2 == 0

In [ ]:
l = [5,6,7,8,9]
list(filter(lambda x : x%2 != 0,l))

In [ ]:
a = lambda x : x[0] =='s'

In [ ]:
a('hawn')

In [ ]:
# return all the elements starting with s
l = ['suraj','shahid','ankush','ankur','sanjay']

set(filter(lambda x : x[0] =='s' , l))

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x : x%2 != 0,l))

In [ ]:
# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7,12 , 8, 9, 10]

list(filter(lambda x: x%3 ==0,numbers))

In [ ]:
'E'.lower() in 'aeiou'

In [ ]:
# Filter all the vowels from the given list
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r','i','a']

sequence = 'THis is a sEntence also called strings wala dattattype. ooo uu '
set(filter(lambda x : x.lower() in 'aeiou', sequence ))

In [ ]:
list(range(4,41,4))

# ZIP

In [ ]:
l1 = [4,5,6,7,6,6]
l2 = [6,6,7,8,6,6,6,6]

list(zip(l1,l2))

In [ ]:
f = ['f1','f2','f3']
l = ['l1','l2', 'l3']
l1 = ['l1','l2', 'l3']


list(zip(f,l,l1))

In [ ]:
a = 'abcdefg'
b = [0,1,2]   # range(3)
c = [0,1,2,3] # range(4)

In [ ]:
list(zip(a,b,c))

In [ ]:
list(zip('abcdefg', [0,1,2], range(4)))

In [ ]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

dict(zip(languages,versions))

In [ ]:
numbersList = [1, 2, 3]
str_list = ['one', 'two','three']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')


result = zip(numbersList, numbers_tuple,str_list)

In [ ]:
result_list = list(result)
result_list

In [ ]:
a, b, c =  zip(*result_list)

print(a,b,c)

In [ ]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)

---

## ENUMERATE

In [4]:
l = [4,'abc',(12,3),'5']
list(enumerate(l,start = 1))

[(1, 4), (2, 'abc'), (3, (12, 3)), (4, '5')]

In [5]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
list(enumerateGrocery)

[(0, 'bread'), (1, 'milk'), (2, 'butter')]

In [6]:
s = ['elem1','elem2','elem3']
for i in s:
    print(i)

elem1
elem2
elem3

In [7]:
for index,value in enumerate(s,start=1):
    print(index, value)

1 elem1
2 elem2
3 elem3

In [ ]:
my_list = [2,3,4,5,6,71,2,2,90,12]
even_nums = [i for i in my_list if (i%2) == 0]
# for i in my_list:
#     if i % 2 == 0:
#         even_nums.append(i)
        
print(even_nums)

In [ ]:
new_list = [i for i in range(11)  if i % 2 ==0 ]
# for i in range(11):
#     if (i%2)==0:
#         new_list.append(i)
print(new_list)

In [ ]:
matrix_wali_list = []

for i in range(3):
    sublist = []
    for j in range(1,4):
        sublist.append(j)
    matrix_wali_list.append(sublist)
    
for i in matrix_wali_list:
    print(i)

In [ ]:
matrix = []

for row in range(3):

	# Append an empty sublist inside the list
	matrix.append([])

	for column in range(3):
		matrix[row].append(column)

for i in matrix:
    print(i)

In [ ]:
[[j for j in range(1,4)] for i in range(3)]

In [ ]:
m = [[j for j in range(1,4)] for i in range(3)]
m

In [ ]:
# map --> 
l = [3,4,5,6,8]
list(map(lambda x : x**3,l))

In [ ]:
l = ["Even number" if i % 2 == 0 else "Odd number" for i in range(8)]
print(l)

In [ ]:
string = 'BATMAN_qwwj'
l = [character for character in string]
# for i in string:
#     l.append(i)
print(l)

In [ ]:
lambda n : n ** 2

In [ ]:
def square(n):
    return n **2