# Lists :
- **A list is a data structure that allows you to store and organize multiple items in a single variable.** 
- **It's like having a collection of items, such as a shopping list or a list of your favorite books.**

---
### Creating a List:

- You can create a list by enclosing items in square brackets [ ] and separating them with commas.
- Each item in the list can be of any data type: numbers, strings, or even other lists.

In [ ]:
numbers_list = [1,2,34,56,88]

In [ ]:
shopping_list = ["apples" ,"bananas", "milk", "bread"]

In [ ]:
shopping_list

---
### Accessing List Items:

- You can access individual items in a list using indexing, similar to accessing characters in a string.
- The index starts from 0 for the first item in the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread",[1,2,3,4],(2,3,4,5,6),{2,5,9},{'key10':'val1'}]
# print(shopping_list[2][2])
shopping_list[1][2]

In [ ]:
shopping_list[0:4]
shopping_list[4:]

---
### Modifying List Items:

- Lists are mutable, which means you can change the values of individual items in the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread"]
shopping_list[1] = "oranges"
print(shopping_list)

---
### List Length:

You can find the number of items in a list using the len() function.

In [1]:
shopping_list = ["apples", "bananas", "milk", "bread","milk"]

print(len(shopping_list))

5

In [2]:
shopping_list

['apples', 'bananas', 'milk', 'bread', 'milk']

In [5]:
shopping_list.append('oats')

In [6]:
shopping_list

['apples', 'bananas', 'milk', 'bread', 'milk', 6, 'oats']

In [7]:
shopping_list.insert(1,"cake")

In [8]:
shopping_list

['apples', 'cake', 'bananas', 'milk', 'bread', 'milk', 6, 'oats']

In [9]:
shopping_list.remove('milk')

In [10]:
shopping_list

['apples', 'cake', 'bananas', 'bread', 'milk', 6, 'oats']

In [11]:
shopping_list.pop(2)
shopping_list

['apples', 'cake', 'bread', 'milk', 6, 'oats']

In [12]:
shopping_list = ['banana','cherry','mango','apples','milk']
shopping_list.sort()

In [13]:
shopping_list

['apples', 'banana', 'cherry', 'mango', 'milk']

In [14]:
shopping_list.sort(reverse= True)

In [15]:
shopping_list

['milk', 'mango', 'cherry', 'banana', 'apples']

In [19]:
my_list = [44,55,66,88,99,121,65,76]
# my_list.sort(reverse= True)
my_list.reverse()
my_list

[76, 65, 121, 99, 88, 66, 55, 44]

---
### List Methods:

- Python provides built-in methods to perform various operations on lists. <br>

- Some common list methods include:
    - `append():` Adds an item to the end of the list.
    - `insert():` Inserts an item at a specific position in the list.
    - `remove():` Removes the first occurrence of an item from the list.
    - `pop():` Removes and returns the item at a specific position in the list.
    - `sort():` Sorts the items in the list in ascending order.
    - `reverse():` Reverses the order of the items in the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread"]
shopping_list.append("eggs")
shopping_list.insert(1, "juice")
shopping_list.remove("milk")
print(shopping_list)  # Output: ["apples", "juice", "bananas", "bread", "eggs"]

---
### List Slicing:

- You can extract a portion of a list using slicing, similar to slicing strings.
- Slicing allows you to specify a range of indices to extract multiple items from the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread"]
sublist = shopping_list[1:3]
print(sublist)  # Output: ["bananas", "milk"]

In [ ]:
shopping_list[:3]

---
### List Concatenation:

- You can concatenate (join) two or more lists together using the + operator.

In [1]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

---
### List Repetition:

- You can repeat a list multiple times using the * operator.

In [2]:
my_list = [1, 2, 3]
list2 = [1,2]
repeated_list = my_list * 3
print(repeated_list)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

---
### List Deletion:

- You can delete an item or a range of items from a list using the del statement or the remove() method.

In [3]:
my_list = [1, 2, 3, 4, 5]
del my_list[2]  # Delete item at index 2 (value 3)
print(my_list)  # Output: [1, 2, 4, 5]

my_list.remove(4)  # Remove the first occurrence of the value 4
print(my_list)  # Output: [1, 2, 5]

[1, 2, 4, 5]
[1, 2, 5]

---
### List Sorting:

- You can sort the items in a list using the sort() method. By default, it sorts the list in ascending order.

In [5]:
my_list = [4, 2, 1, 3, 5]
# my_list.sort()
my_list

[4, 2, 1, 3, 5]

In [ ]:
my_list

In [6]:
r1 = sorted(my_list,reverse=True)
r1

[5, 4, 3, 2, 1]

In [7]:
sorted([33,55,642,77])

[33, 55, 77, 642]

--- 
### List Count and Index:

- You can count the number of occurrences of an item in a list using the count() method.
- You can find the index of the first occurrence of an item in a list using the index() method.

In [8]:
my_list = [1, 2, 2, 3, 2, 4,4]
count = my_list.count(2)
print(count)  # Output: 3

index = my_list.index(4)
print(index)

3
5

In [9]:
shopping_list.append('milk')

NameError: name 'shopping_list' is not defined

In [ ]:
shopping_list

In [ ]:
shopping_list.index('milk')

In [ ]:
shopping_list.count('milk')

In [ ]:
my_list.index(2)

--- 
### List Copy:

- You can create a copy of a list using the `copy()` method or the slicing technique `[:]`.

In [10]:
l1 = [22,4,'str']
l2 = l1
l2

[22, 4, 'str']

In [11]:
my_list = [1, 2, 3]
copy1 = my_list.copy()
copy2 = my_list  # Slicing technique

print(copy1)  # Output: [1, 2, 3]
print(copy2)  # Output: [1, 2, 3]

[1, 2, 3]
[1, 2, 3]

--- 
###  Questions on lists.
- *Q.Write a Python program to find the sum of all elements in a list.*
- *Q.Write a Python program to find the largest element in a list.*
- *Q.Write a Python program to find the second smallest element in a list.*
- *Q.Write a Python program to count the number of occurrences of a specific element in a list.*
- *Q.Write a Python program to remove duplicates from a list.*
- *Q.Write a Python program to check if a list is empty.*
- *Q.Write a Python program to check if a list is sorted in ascending order.*
- *Q.Write a Python program to find the common elements between two lists.*
- *Q.Write a Python program to reverse a list.*
- *Q.Write a Python program to sort a list of strings in alphabetical order.* <br>
<br>

**<p style="color: blue;">NOTE : `float('inf')` represents positive infinity. Similarly, `float('-inf')` represents negative infinity.</p>**

In [15]:
# Write a Python program to find the sum of all elements in a list.
my_list = [1,3,5,6,3,7]
result = 0
for i in my_list:
    print("current Value of i : ",i)
    result += i
    print("Current valule of result :", result)
print(result)

current Value of i :  1
Current valule of result : 1
current Value of i :  3
Current valule of result : 4
current Value of i :  5
Current valule of result : 9
current Value of i :  6
Current valule of result : 15
current Value of i :  3
Current valule of result : 18
current Value of i :  7
Current valule of result : 25
25

In [17]:
# Write a Python program to find the largest element in a list.

my_list = [2,4,5,7,8,1,99]
s_list = sorted(my_list,reverse=True)
s_list[0]

99

In [18]:
# Write a Python program to remove duplicates from a list.
my_list = [1,3,2,4,1,2,1,2,12,6]
unique = []
for i in my_list:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 3, 2, 4, 12, 6]

In [19]:
def remove_duplicates(array):
    unique = []
    for i in array:
        if i not in unique:
            unique.append(i)
    return unique

In [20]:
remove_duplicates([1,2,3,1,2,4,88,88,99])

[1, 2, 3, 4, 88, 99]

In [26]:
# Write a Python program to find the second smallest element in a list.
my_list = [1,1,2, 2, 3, 4, 88, 99]
new_list = remove_duplicates(my_list)
s_list = sorted(new_list)
s_list[1]

2

In [33]:
# Write a Python program to count the number of occurrences of a specific element in a list.
my_list = [1,1,2,2, 2, 3, 4, 88, 99]
key = 2
my_list.count(key)

3

In [29]:
def count(l, key):
    return l.count(key)

In [30]:
count([1,2,3,1,1,1,1,1],key=1)

6

In [32]:
# Write a Python program to check if a list is empty.
l = []
if len(l)==0:
    print("List is empty")

List is empty

In [36]:
list(reversed(my_list))
my_list[::-1]

[99, 88, 4, 3, 2, 2, 2, 1, 1]

In [ ]:
# Write a Python program to find the sum of all elements in a list.

numbers_list = [3,4,1,5,6,7]

result = 0

for i in numbers_list:
#     print("THE VALUE OF i is", i)
    result = result + i
#     print("THE VALUE OF CURRENT RESULT IS ", result)
    
print("FINAL RESULT : ",result)

In [ ]:
def my_sum(n_list : list) :
    result = 0
    
    for i in n_list:
        result += i
    return result

In [ ]:
my_sum(numbers_list)

In [ ]:
result = my_sum([1,2,3,5,7,8,6,7,7])

In [ ]:
print(result)

In [ ]:
# Q.Write a Python program to find the largest element in a list.

numbers_list = [3,4,1,5,6,7]

s_numbers = sorted(numbers_list,reverse=True)
# print(s_numbers)
print(s_numbers[0])

In [ ]:
numbers = [1,2,3,5,7,8,6,7,7]

greatest = float("-inf") # smallest value possible # 1 , 8

for i in numbers:
    if i > greatest :
        greatest = i

print(greatest)

In [ ]:
max(numbers)

In [ ]:
# Write a Python program to find the second smallest element in a list.
numbers = [1,1,2,3,5,7,8,6,7,7]
s_numbers = sorted(numbers)
s_numbers[1]

In [ ]:
numbers = [3,1,2,3,5,7,8,6,7,7]
s = float("inf")  # 1

ss = float("inf") # 2

for i in numbers:
    if i < s :
        ss = s
        s = i
    
    elif i < ss and i != s:
        ss = i
        
print(ss)

In [ ]:
numbers = [3,1,2,3,5,6,8,6,7,7]
# find the second greteast value


g = float("-inf")  # 8
sg = float("-inf")  # 6

for i in numbers:
    if i > g :
        sg = g
        g = i
    
    elif i > sg and i != g:
        sg = i
        
print(sg)

In [ ]:
def second_smallest(numbers):
    s = float("inf")  # 1

    ss = float("inf") # 2

    for i in numbers:
        if i < s :
            ss = s
            s = i

        elif i < ss and i != s:
            ss = i

    return ss

def second_greatess(numbers):
    g = float("-inf")  # 8
    sg = float("-inf")  # 6

    for i in numbers:
        if i > g :
            sg = g
            g = i

        elif i > sg and i != g:
            sg = i
        
    return sg

In [ ]:
second_smallest([5,4,66,7,3,1])

In [ ]:
second_greatess([5,4,66,7,3,1,4,5,5])

In [ ]:
# Write a Python program to count the number of occurrences of a specific element in a list.

def count_occurance(number_list : list, element):
    count = number_list.count(element)
    return f"The count of {element} is {count} times."

In [ ]:
count_occurance([5,4,66,7,3,1,4,5,5], 5)

In [ ]:
# Write a Python program to remove duplicates from a list.
numbers_list = [5,4,66,7,3,1,4,5,5]
unique_list = []

for i in numbers_list:
    if i not in unique_list:
        unique_list.append(i)
        
print(unique_list)

In [ ]:
# Write a Python program to check if a list is empty.

e = []
if len(e) == 0:
    print("THE LIST IS EMPTY")
else:
    print("LIST IS NOT EMPTY")

In [39]:
# Write a Python program to check if a list is sorted in ascending order.
my_list = [1,2,3,5,7,8,9,10]
list2 = [3,4,5,2,1,9]

n=len(my_list)
print(n)
for i in range(1,n):
    if my_list[i] > my_list[i-1]:
        print("TRUE")

8
TRUE
TRUE
TRUE
TRUE
TRUE
TRUE
TRUE

In [46]:
def ascending(array):
    result = True
    for i in range(1,len(array)):
        if array[i] > array[i-1]:
            pass
        else:
            result=  False
    return result

In [44]:
ascending(my_list)

True

In [45]:
ascending(list2)

False

In [47]:
ascending([1,23,55,2])

False

In [50]:
# Write a Python program to find the common elements between two lists.
list1 = [1,2,3,5,6,5,5]
list2 = [3,5,7,8,1]

common_elements = []

for i in list1:
    if i in list2 and i not in common_elements:
        common_elements.append(i)

print(common_elements)

[1, 3, 5]

In [51]:
def common_elements(array1, array2):
    common_elements = []
    for i in array1:
        if i in array2 and i not in common_elements:
            common_elements.append(i)
    return common_elements

In [52]:
common_elements([1,34,5],[1,3,4,5])

[1, 5]

In [31]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [53]:
# Write a Python program to reverse a list.

l = ['a',2,5,'c']
l[::-1]

# Q.Write a Python program to sort a list of strings in alphabetical order.

['c', 5, 2, 'a']

In [ ]:
# 1
def list_sum(numbers):
    sum = 0
    for i in numbers:
        sum += i
    return sum

In [ ]:
# 2
def find_largest(numbers):
    largest = numbers[0]
    for number in numbers:
        if number > largest:
            largest = number
            
    return largest

In [ ]:
#  3
def secondSmallest(arr,n):
    if (n<2):
        return -1
    small = float('inf')
    sSmall = float('inf')

    for i in range(n):
        if (arr[i] < small):
            sSmall = small
            small = arr[i]
        elif (arr[i] != small and arr[i]<sSmall):
            sSmall = arr[i]
            
    return sSmall

In [ ]:
print(secondSmallest([1,4,6,77,99],5))

In [ ]:
# 4
def countOccurance(l):
    result = {}
    for i in l:
        if i not in result :
            result[i] = 1
        else:
            result[i] +=1
    return result

In [ ]:
result = countOccurance([1,4,6,77,99,1,1])
print(result)

In [ ]:
# 4
def count_occurrences(input_list, target_element):
    count = input_list.count(target_element)
    return count

In [ ]:
# Example usage
my_list = [1, 2, 3, 4, 5, 2, 6, 2, 7, 8, 2, 9]
element_to_count = 2
result = count_occurrences(my_list, element_to_count)
print(f"The element {element_to_count} appears {result} times in the list.")

In [ ]:
# 5 Write a Python program to remove duplicates from a list.
def rmDuplilcates(l):
    result = []
    for i in l:
        if i not in result:
            result.append(i)
            
    return result

In [ ]:
my_list = [1, 2, 3, 4, 5, 2, 6, 2, 7, 8, 2, 9]
print(rmDuplilcates(my_list))

In [ ]:
# 6
def is_list_empty(input_list):
    if not input_list:
        return True
    else:
        return False

# Example usage
empty_list = []
non_empty_list = [1, 2, 3]

print("Is the list empty?", is_list_empty(empty_list))
print("Is the list empty?", is_list_empty(non_empty_list))

In [ ]:
# 7 Write a Python program to check if a list is sorted in ascending order.
def is_sorted_ascending(input_list):
    for i in range(1, len(input_list)):
        if input_list[i] < input_list[i - 1]:
            return False
    return True

In [ ]:
my_list = [1,2,3,4,5]
print(is_sorted_ascending(my_list))

In [ ]:
# 8 Write a Python program to find the common elements between two lists.

def find_common_elements(list1, list2):
    common_elements = []
    for element in list1:
        if element in list2 and element not in common_elements:
            common_elements.append(element)
    return common_elements

In [ ]:
# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = find_common_elements(list1, list2)
print("Common elements:", common_elements)

In [ ]:
# 9 Write a Python program to reverse a list.
def reverse_a_list(l):
    return l[::-1]

In [ ]:
list1 = [1, 2, 3, 4, 5]
print(reverse_a_list(list1))

In [ ]:
# 10 Write a Python program to sort a list of strings in alphabetical order.

In [ ]:
def sort_list_alphabetically(input_list):
    sorted_list = sorted(input_list)
    return sorted_list

In [ ]:
# Example usage
unsorted_list = ["apple", "orange", "banana", "grape", "cherry"]

sorted_list = sort_list_alphabetically(unsorted_list)
print("Sorted list:", sorted_list)