# Lists :
- **A list is a data structure that allows you to store and organize multiple items in a single variable.** 
- **It's like having a collection of items, such as a shopping list or a list of your favorite books.**

---
### Creating a List:

- You can create a list by enclosing items in square brackets [ ] and separating them with commas.
- Each item in the list can be of any data type: numbers, strings, or even other lists.

In [ ]:
numbers_list = [1,2,34,56,88]

In [ ]:
len(numbers_list)

In [ ]:
shopping_list = ["apples" ,"bananas", "milk", "bread",3 ,[12345,55],(2,)]

In [ ]:
shopping_list

---
### Accessing List Items:

- You can access individual items in a list using indexing, similar to accessing characters in a string.
- The index starts from 0 for the first item in the list.

In [1]:
shopping_list = ["apples", "bananas", "milk", "bread",[1,2,3,4],(2,3,4,5,6),{2,5,9},{'key10':'val1'}]

In [7]:
shopping_list[4][-1]

4

In [2]:
shopping_list[0]

'apples'

In [4]:
shopping_list[0:4]

['apples', 'bananas', 'milk', 'bread']

In [ ]:
shopping_list[4][-1]

In [ ]:
shopping_list[1:3]

In [ ]:
shopping_list[:4]

In [ ]:
shopping_list[4:]

In [ ]:
shopping_list[4][-1]

In [ ]:
l = [1,2,3,5,6,7,7,8]

In [ ]:
l[0] = 55

In [ ]:
l

---
### Modifying List Items:

- Lists are mutable, which means you can change the values of individual items in the list.

In [8]:
shopping_list = ["apples", "bananas", "milk", "bread"]
shopping_list[-1] = "oranges"
print(shopping_list)

['apples', 'bananas', 'milk', 'oranges']

In [9]:
l = [4,5,6,7]
len(l)

4

In [14]:
sum(shopping_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
max(shopping_list)

'oranges'

In [12]:
min(l)

4

---
### List Length:

You can find the number of items in a list using the len() function.

In [15]:
shopping_list = ["apples", "bananas", "milk", "bread","milk"]

print(len(shopping_list))

5

In [16]:
shopping_list

['apples', 'bananas', 'milk', 'bread', 'milk']

In [17]:
shopping_list.append('oats')

In [18]:
shopping_list

['apples', 'bananas', 'milk', 'bread', 'milk', 'oats']

In [19]:
shopping_list.insert(1,"cake")

In [20]:
shopping_list

['apples', 'cake', 'bananas', 'milk', 'bread', 'milk', 'oats']

In [21]:
shopping_list.remove('milk')

In [22]:
shopping_list

['apples', 'cake', 'bananas', 'bread', 'milk', 'oats']

In [23]:
shopping_list.pop(2)
shopping_list

['apples', 'cake', 'bread', 'milk', 'oats']

In [28]:
shopping_list = ['banana','cherry','mango','apples','milk','zvalue']
# shopping_list.sort()

In [25]:
shopping_list

['apples', 'banana', 'cherry', 'mango', 'milk', 'zvalue']

In [26]:
shopping_list.sort(reverse=True)

In [29]:
shopping_list

['banana', 'cherry', 'mango', 'apples', 'milk', 'zvalue']

In [32]:
sorted(shopping_list,reverse=True)

['zvalue', 'milk', 'mango', 'cherry', 'banana', 'apples']

In [31]:
shopping_list

['banana', 'cherry', 'mango', 'apples', 'milk', 'zvalue']

In [33]:
shopping_list = ['banana','cherry','mango','apples','milk','zvalue']
shopping_list.reverse()

In [34]:
shopping_list

['zvalue', 'milk', 'apples', 'mango', 'cherry', 'banana']

In [35]:
shopping_list.append("mango")

In [36]:
shopping_list

['zvalue', 'milk', 'apples', 'mango', 'cherry', 'banana', 'mango']

In [37]:
shopping_list.index('mango')

3

In [39]:
shopping_list.count('milk')

1

In [42]:
my_list = [44,55,66,88,99,121,65,76]
# my_list.sort()
my_list.reverse()
my_list

[76, 65, 121, 99, 88, 66, 55, 44]

In [43]:
shopping_list

['zvalue', 'milk', 'apples', 'mango', 'cherry', 'banana', 'mango']

In [44]:
list(reversed(shopping_list))

['mango', 'banana', 'cherry', 'mango', 'apples', 'milk', 'zvalue']

In [45]:
shopping_list

['zvalue', 'milk', 'apples', 'mango', 'cherry', 'banana', 'mango']

In [54]:
my_list1 = [1,2,3]
my_list2 = [1,2,3]

my_list1 + my_list2

[1, 2, 3, 1, 2, 3]

In [55]:
copy1 = my_list2[:2]

In [56]:
copy1

[1, 2]

In [47]:
my_list1 *4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
del my_list1

In [51]:
my_list1

NameError: name 'my_list1' is not defined

---
### List Methods:

- Python provides built-in methods to perform various operations on lists. <br>

- Some common list methods include:
    - `append():` Adds an item to the end of the list.
    - `insert():` Inserts an item at a specific position in the list.
    - `remove():` Removes the first occurrence of an item from the list.
    - `pop():` Removes and returns the item at a specific position in the list.
    - `sort():` Sorts the items in the list in ascending order.
    - `reverse():` Reverses the order of the items in the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread"]
shopping_list.append("eggs")
shopping_list.insert(1, "juice")
shopping_list.remove("milk")
print(shopping_list)  # Output: ["apples", "juice", "bananas", "bread", "eggs"]

---
### List Slicing:

- You can extract a portion of a list using slicing, similar to slicing strings.
- Slicing allows you to specify a range of indices to extract multiple items from the list.

In [ ]:
shopping_list = ["apples", "bananas", "milk", "bread"]
sublist = shopping_list[1:3]
print(sublist)  # Output: ["bananas", "milk"]

In [ ]:
shopping_list[:3]

---
### List Concatenation:

- You can concatenate (join) two or more lists together using the + operator.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

---
### List Repetition:

- You can repeat a list multiple times using the * operator.

In [ ]:
my_list = [1, 2, 3]
repeated_list = my_list * 3
print(repeated_list)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

---
### List Deletion:

- You can delete an item or a range of items from a list using the del statement or the remove() method.

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[2]  # Delete item at index 2 (value 3)
print(my_list)  # Output: [1, 2, 4, 5]

my_list.remove(4)  # Remove the first occurrence of the value 4
print(my_list)  # Output: [1, 2, 5]

In [ ]:
del my_list

In [ ]:
my_list

---
### List Sorting:

- You can sort the items in a list using the sort() method. By default, it sorts the list in ascending order.

In [ ]:
my_list = [4, 2, 1, 3,3, 5]
# my_list.sort()
my_list

In [ ]:
my_list

In [ ]:
r1=sorted(my_list)
r1

In [ ]:
my_list

In [ ]:
sorted([33,55,642,77])

--- 
### List Count and Index:

- You can count the number of occurrences of an item in a list using the count() method.
- You can find the index of the first occurrence of an item in a list using the index() method.

In [ ]:
my_list = [1, 2, 2, 3, 2, 4,4]
count = my_list.count(2)
print(count)  # Output: 3

index = my_list.index(4)
print(index)

In [ ]:
shopping_list.append('milk')

In [ ]:
shopping_list

In [ ]:
shopping_list.index('milk')

In [ ]:
shopping_list.count('milk')

In [ ]:
my_list.index(2)

--- 
### List Copy:

- You can create a copy of a list using the `copy()` method or the slicing technique `[:]`.

In [ ]:
l1 = [22,4,'str']
l2 = l1[0:2]
l2

In [ ]:
my_list = [1, 2, 3]
copy1 = my_list.copy()
copy2 = my_list  # Slicing technique

print(copy1)  # Output: [1, 2, 3]
print(copy2)  # Output: [1, 2, 3]

--- 
###  Questions on lists.
- *Q.Write a Python program to find the sum of all elements in a list.*
- *Q.Write a Python program to find the largest element in a list.*
- *Q.Write a Python program to find the second smallest element in a list.*
- *Q.Write a Python program to count the number of occurrences of a specific element in a list.*
- *Q.Write a Python program to remove duplicates from a list.*
- *Q.Write a Python program to check if a list is empty.*
- *Q.Write a Python program to check if a list is sorted in ascending order.*
- *Q.Write a Python program to find the common elements between two lists.*
- *Q.Write a Python program to reverse a list.*
- *Q.Write a Python program to sort a list of strings in alphabetical order.* <br>
<br>

**<p style="color: blue;">NOTE : `float('inf')` represents positive infinity. Similarly, `float('-inf')` represents negative infinity.</p>**

In [2]:
l = [1,2,3,4,5,7,4]
l == sorted(l)

False

In [ ]:
# 1
def list_sum(numbers):
    sum = 0
    for i in numbers:
        sum += i
    return sum

In [ ]:
# 2
def find_largest(numbers):
    largest = numbers[0]
    for number in numbers:
        if number > largest:
            largest = number
            
    return largest

In [ ]:
#  3
def secondSmallest(arr,n):
    if (n<2):
        return -1
    small = float('inf')
    sSmall = float('inf')

    for i in range(n):
        if (arr[i] < small):
            sSmall = small
            small = arr[i]
        elif (arr[i] != small and arr[i]<sSmall):
            sSmall = arr[i]
            
    return sSmall

In [ ]:
print(secondSmallest([1,4,6,77,99],5))

In [ ]:
# 4
def countOccurance(l):
    result = {}
    for i in l:
        if i not in result :
            result[i] = 1
        else:
            result[i] +=1
    return result

In [ ]:
result = countOccurance([1,4,6,77,99,1,1])
print(result)

In [ ]:
# 4
def count_occurrences(input_list, target_element):
    count = input_list.count(target_element)
    return count

In [ ]:
# Example usage
my_list = [1, 2, 3, 4, 5, 2, 6, 2, 7, 8, 2, 9]
element_to_count = 2
result = count_occurrences(my_list, element_to_count)
print(f"The element {element_to_count} appears {result} times in the list.")

In [ ]:
# 5 Write a Python program to remove duplicates from a list.
def rmDuplilcates(l):
    result = []
    for i in l:
        if i not in result:
            result.append(i)
            
    return result

In [ ]:
my_list = [1, 2, 3, 4, 5, 2, 6, 2, 7, 8, 2, 9]
print(rmDuplilcates(my_list))

In [ ]:
# 6
def is_list_empty(input_list):
    if not input_list:
        return True
    else:
        return False

# Example usage
empty_list = []
non_empty_list = [1, 2, 3]

print("Is the list empty?", is_list_empty(empty_list))
print("Is the list empty?", is_list_empty(non_empty_list))

In [ ]:
# 7 Write a Python program to check if a list is sorted in ascending order.
def is_sorted_ascending(input_list):
    for i in range(1, len(input_list)):
        if input_list[i] < input_list[i - 1]:
            return False
    return True

In [ ]:
my_list = [1,2,3,4,5]
print(is_sorted_ascending(my_list))

In [ ]:
# 8 Write a Python program to find the common elements between two lists.

def find_common_elements(list1, list2):
    common_elements = []
    for element in list1:
        if element in list2 and element not in common_elements:
            common_elements.append(element)
    return common_elements

In [ ]:
# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = find_common_elements(list1, list2)
print("Common elements:", common_elements)

In [ ]:
# 9 Write a Python program to reverse a list.
def reverse_a_list(l):
    return l[::-1]

In [ ]:
list1 = [1, 2, 3, 4, 5]
print(reverse_a_list(list1))

In [ ]:
# 10 Write a Python program to sort a list of strings in alphabetical order.

In [ ]:
def sort_list_alphabetically(input_list):
    sorted_list = sorted(input_list)
    return sorted_list

In [ ]:
# Example usage
unsorted_list = ["apple", "orange", "banana", "grape", "cherry"]

sorted_list = sort_list_alphabetically(unsorted_list)
print("Sorted list:", sorted_list)