In [1]:
import pandas as pd
import numpy as np

In [2]:
ipl = pd.read_csv('Data/ipl-matches.csv')
movies = pd.read_csv('Data/movies.csv')

In [11]:
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [9]:
# find all the final winners
ipl[ipl['MatchNumber']== 'Final'][['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [10]:
# how many super over finishes have occured
ipl[ipl['SuperOver'] == 'Y'].shape[0]

14

In [19]:
# how many matches has RCB won in Banglore
ipl[(ipl['WinningTeam'] == 'Royal Challengers Bangalore')&(ipl['City']=='Bangalore') ].shape[0]

29

In [28]:
ipl.shape[0]

950

In [30]:
# toss winner is match winner in percentage
(ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]/ipl.shape[0])* 100

51.473684210526315

In [46]:
# movies with rating higher than 8 and votes>10000
[movies['imdb_rating'] > 8]
movies['imdb_votes'] > 10000

movies[(movies['imdb_rating'] > 8)& (movies['imdb_votes'] > 10000)]['title_x']

0          Uri: The Surgical Strike
11                        Gully Boy
37                Article 15 (film)
40                  Super 30 (film)
143                         Tumbbad
146                       Andhadhun
325                Pink (2016 film)
354                   Dangal (film)
418                          Masaan
426            Drishyam (2015 film)
436                   Talvar (film)
469               Queen (2014 film)
536                   Haider (film)
566                     Ugly (film)
567                       PK (film)
589                    Vishwaroopam
612              Bhaag Milkha Bhaag
638                   Shahid (film)
668         Paan Singh Tomar (film)
669                         Kahaani
693              Gangs of Wasseypur
694     Gangs of Wasseypur – Part 2
709                          Barfi!
714                OMG – Oh My God!
778        Zindagi Na Milegi Dobara
869               Udaan (2010 film)
912                        3 Idiots
930                   Gulaal (film)
1058       Black Friday (2007 film)
1066                 Chak De! India
1127               Taare Zameen Par
1180               Khosla Ka Ghosla
1183           Lage Raho Munna Bhai
1188             Omkara (2006 film)
1195                Rang De Basanti
1223              Black (2005 film)
1252                   Iqbal (film)
1384                         Swades
1403            Munna Bhai M.B.B.S.
1554     The Legend of Bhagat Singh
1567                         Lagaan
1568                         Lagaan
1571                 Dil Chahta Hai
Name: title_x, dtype: object

In [47]:
# Action movies with rating higher than 7.5
# mask1 = movies['genres'].str.split('|').apply(lambda x:'Action' in x)
mask1 = movies['genres'].str.contains('Action')
mask2 = movies['imdb_rating'] > 7.5

movies[mask1 & mask2]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
41,Family of Thakurganj,tt8897986,https://upload.wikimedia.org/wikipedia/en/9/99...,https://en.wikipedia.org/wiki/Family_of_Thakur...,Family of Thakurganj,Family of Thakurganj,0,2019,127,Action|Drama,9.4,895,The film is based on small town of North India...,The film is based on small town of North India...,NaN,Jimmy Sheirgill|Mahie Gill|Nandish Singh|Prana...,NaN,19 July 2019 (India)
84,Mukkabaaz,tt7180544,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Mukkabaaz,The Brawler,Mukkabaaz,0,2017,154,Action|Drama|Sport,8.1,5434,A boxer (Shravan) belonging to upper cast tra...,A boxer struggles to make his mark in the boxi...,NaN,Viineet Kumar|Jimmy Sheirgill|Zoya Hussain|Rav...,3 wins & 6 nominations,12 January 2018 (USA)
106,Raazi,tt7098658,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raazi,Raazi,Raazi,0,2018,138,Action|Drama|Thriller,7.8,20289,Hidayat Khan is the son of an Indian freedom f...,A Kashmiri woman agrees to marry a Pakistani a...,An incredible true story,Alia Bhatt|Vicky Kaushal|Rajit Kapoor|Shishir ...,21 wins & 26 nominations,11 May 2018 (USA)
110,Parmanu: The Story of Pokhran,tt6826438,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Parmanu:_The_Sto...,Parmanu: The Story of Pokhran,Parmanu: The Story of Pokhran,0,2018,129,Action|Drama|History,7.7,18292,Captain Ashwat Raina's efforts to turn India i...,Ashwat Raina and his teammates arrive in Pokhr...,1998| India: one secret operation| six Indians...,John Abraham|Boman Irani|Diana Penty|Anuja Sat...,NaN,25 May 2018 (USA)
112,Bhavesh Joshi Superhero,tt6129302,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bhavesh_Joshi_Su...,Bhavesh Joshi Superhero,Bhavesh Joshi Superhero,0,2018,154,Action|Drama,7.6,4928,Bhavesh Joshi Superhero is an action film abou...,The origin story of Bhavesh Joshi an Indian s...,This year| justice will have a new name.,Harshvardhan Kapoor|Priyanshu Painyuli|Ashish ...,2 nominations,1 June 2018 (USA)
169,The Ghazi Attack,tt6299040,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Ghazi_Attack...,The Ghazi Attack,The Ghazi Attack,0,2017,116,Action|Thriller|War,7.6,10332,In 1971 amid rising tensions between India an...,A Pakistani submarine Ghazi plans to secretly...,The war you did not know about,Rana Daggubati|Kay Kay Menon|Atul Kulkarni|Om ...,1 win & 7 nominations,17 February 2017 (USA)
219,Raag Desh (film),tt6080746,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raagdesh,Raag Desh,Raag Desh,0,2017,135,Action|Drama|History,8.3,341,A period film based on the historic 1945 India...,A period film based on the historic 1945 India...,NaN,Kunal Kapoor|Amit Sadh|Mohit Marwah|Kenneth De...,NaN,28 July 2017 (India)
258,Irudhi Suttru,tt5310090,https://upload.wikimedia.org/wikipedia/en/f/fe...,https://en.wikipedia.org/wiki/Saala_Khadoos,Saala Khadoos,Saala Khadoos,0,2016,109,Action|Drama|Sport,7.6,10507,An under-fire boxing coach Prabhu is transfer...,The story of a former boxer who quits boxing f...,NaN,Madhavan|Ritika Singh|Mumtaz Sorcar|Nassar|Rad...,9 wins & 2 nominations,29 January 2016 (USA)
280,Laal Rang,tt5600714,NaN,https://en.wikipedia.org/wiki/Laal_Rang,Laal Rang,Laal Rang,0,2016,147,Action|Crime|Drama,8.0,3741,The friendship of two men is tested when thing...,The friendship of two men is tested when thing...,Every job good or bad| must be done with honesty.,Randeep Hooda|Akshay Oberoi|Rajniesh Duggall|P...,NaN,22 April 2016 (India)
297,Udta Punjab,tt4434004,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Udta_Punjab,Udta Punjab,Udta Punjab,0,2016,148,Action|Crime|Drama,7.8,23995,What on earth can a rock star a migrant labor...,A story that revolves around drug abuse in the...,NaN,Shahid Kapoor|Alia Bhatt|Kareena Kapoor|Diljit...,11 wins & 19 nominations,17 June 2016 (USA)
354,Dangal (film),tt5074352,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dangal_(film),Dangal,Dangal,0,2016,161,Action|Biography|Drama,8.4,131338,Biopic of Mahavir Singh Phogat who taught wre...,Former wrestler Mahavir Singh Phogat and his t...,You think our girls are any lesser than boys?,Aamir Khan|Fatima Sana Shaikh|Sanya Malhotra|S...,23 wins & 4 nominations,21 December 2016 (USA)
362,Bajrangi Bhaijaan,tt3863552,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bajrangi_Bhaijaan,Bajrangi Bhaijaan,Bajrangi Bhaijaan,0,2015,163,Action|Comedy|Drama,8.0,65877,A little mute girl from a Pakistani village ge...,An Indian man with a magnanimous heart takes a...,NaN,Salman Khan|Harshaali Malhotra|Nawazuddin Sidd...,25 wins & 13 nominations,17 July 2015 (USA)
365,Baby (2015 Hindi film),tt3848892,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Baby_(2015_Hindi...,Baby,Baby,0,2015,159,Action|Thriller,8.0,49426,The country is perpetually under threat from t...,An elite counter-intelligence unit learns of a...,History Is Made By Those Who Give A Damn!,Akshay Kumar|Danny Denzongpa|Rana Daggubati|Ta...,1 win,23 January 2015 (India)
393,Detective Byomkesh Bakshy!,tt3447364,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Detective_Byomke...,Detective Byomkesh Bakshy!,Detective Byomkesh Bakshy!,0,2015,139,Action|Mystery|Thriller,7.6,14674,CALCUTTA 1943 A WAR - A MYSTERY - and A DETECT...,While investigating the disappearance of a che...,Expect The Unexpected,Sushant Singh Rajput|Anand Tiwari|Neeraj Kabi|...,NaN,3 April 2015 (USA)
449,Titli (2014 film),tt3019620,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Titli_(2014_film),Titli,Titli,0,2014,116,Action|Drama|Thriller,7.6,3677,In the badlands of Delhi's dystopic underbelly...,A Hindi feature film set in the lower depths o...,Daring| Desireable| Dangerous,Nawazuddin Siddiqui|Niharika Singh|Anil George...,4 wins & 5 nominations,20 June 2014 (USA)
536,Haider (film),tt3390572,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Haider_(film),Haider,Haider,0,2014,160,Action|Crime|Drama,8.1,46912,Vishal Bhardwaj's adaptation of William Shakes...,A young man returns to Kashmir after his fathe...,NaN,Tabu|Shahid Kapoor|Shraddha Kapoor|Kay Kay Men...,28 wins & 24 nominations,2 October 2014 (USA)
589,Vishwaroopam,tt2199711,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Vishwaroop_(Hind...,Vishwaroopam,Vishwaroopam,0,2013,148,Action|Thriller,8.2,38016,Vishwanathan a Kathak dance teacher in New Yo...,When a classical dancer's suspecting wife sets...,NaN,Kamal Haasan|Rahul Bose|Shekhar Kapur|Pooja Ku...,5 wins & 11 nominations,25 January 2013 (India)
625,Madras Cafe,tt2855648,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Madras_Cafe,Madras Cafe,Madras Cafe,0,2013,130,Action|Drama|Thriller,7.7,21393,An Indian Intelligence agent (portrayed by Joh...,An Indian intelligence agent journeys to a war...,NaN,John Abraham|Nargis Fakhri|Raashi Khanna|Praka...,10 wins & 10 nominations,23 August 2013 (India)
668,Paan Singh Tomar (film),tt1620933,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Paan_Singh_Tomar...,Paan Singh Tomar,Paan Singh Tomar,0,2012,135,Action|Biography|Crime,8.2,29994,Paan Singh Tomar is a Hindi-language film bas...,The story of Paan Singh Tomar an Indian athle...,NaN,Irrfan Khan|,10 wins & 11 nominations,2 March 2012 (USA)
693,Gangs of Wasseypur,tt1954470,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangs_of_Wasseypur,Gangs of Wasseypur,Gangs of Wasseypur,0,2012,321,Action|Comedy|Crime,8.2,71636,Shahid Khan is exiled after impersonating the ...,A clash between Sultan and Shahid Khan leads t...,NaN,Manoj Bajpayee|Richa Chadha|Nawazuddin Siddiqu...,12 wins & 43 nominations,2 August 2012 (Singapore)
694,Gangs of Wasseypur – Part 2,tt1954470,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangs_of_Wasseyp...,Gangs of Wasseypur,Gangs of Wasseypur,0,2012,321,Action|Comedy|Crime,8.2,71636,Shahid Khan is exiled after impersonating the ...,A clash between Sultan and Shahid Khan leads t...,NaN,Manoj Bajpayee|Richa Chadha|Nawazuddin Siddiqu...,12 wins & 43 nominations,2 August 2012 (Singapore)
982,Jodhaa Akbar,tt0449994,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jodhaa_Akbar,Jodhaa Akbar,Jodhaa Akbar,0,2008,213,Action|Drama|History,7.6,27541,Jodhaa Akbar is a sixteenth century love story...,A sixteenth century love story about a marriag...,NaN,Hrithik Roshan|Aishwarya Rai Bachchan|Sonu Soo...,32 wins & 21 nominations,15 February 2008 (USA)
1039,1971 (2007 film),tt0983990,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/1971_(2007_film),1971,1971,0,2007,160,Action|Drama|War,7.9,1121,Based on true facts the film revolves around ...,Based on true facts the film revolves around ...,Honor the heroes.......,Manoj Bajpayee|Ravi Kishan|Deepak Dobriyal|,1 win,9 March 2007 (India)
1058,Black Friday (2007 film),tt0400234,https://upload.wikimedia.org/wikipedia/en/5/58...,https://en.wikipedia.org/wiki/Black_Friday_(20...,Black Friday,Black Friday,0,2004,143,Action|Crime|Drama,8.5,16761,A dramatic presentation of the bomb blasts tha...,Black Friday is a film about the investigation...,The story of the Bombay bomb blasts,Kay Kay Menon|Pavan Malhotra|Aditya Srivastava...,3 nominations,9 February 2007 (India)
1188,Omkara (2006 film),tt0488414,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Omkara_(2006_film),Omkara,Omkara,0,2006,155,Action|Crime|Drama,8.1,17594,Advocate Raghunath Mishra has arranged the mar...,A politically-minded enforcer's misguided trus...,NaN,Ajay Devgn|Saif Ali Khan|Vivek Oberoi|Kareena ...,19 wins & 20 nominations,28 July 2006 (USA)
1293,Sarkar (2005 film),tt0432047,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sarkar_(2005_film),Sarkar,Sarkar,0,2005,124,Action|Crime|Drama,7.6,14694,Meet Subhash Nagre - a wealthy and influential...,The authority of a man who runs a parallel go...,'There are no Rights and Wrongs. Only Power' -...,Amitabh Bachchan|Abhishek Bachchan|Kay Kay Men...,2 wins & 10 nominations,1 July 2005 (India)
1294,Sehar,tt0477857,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sehar,Sehar,Sehar,0,2005,125,Action|Crime|Drama,7.8,1861,At the tender age of 8 Ajay Kumar is traumatiz...,Ajay Kumar the newly appointed honest SSP of ...,NaN,Arshad Warsi|Pankaj Kapur|Mahima Chaudhry|Sush...,NaN,29 July 2005 (India)
1361,Lakshya (film),tt0323013,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Lakshya_(film),Lakshya,Lakshya,0,2004,186,Action|Drama|Romance,7.9,18777,Karan is a lazy good-for-nothing who lives on ...,An aimless jobless irresponsible grown man j...,It took him 24 years and 18000 feet to find hi...,Hrithik Roshan|Preity Zinta|Amitabh Bachchan|O...,4 wins & 10 nominations,18 June 2004 (USA)
1432,Gangaajal,tt0373856,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangaajal,Gangaajal,Gangaajal,0,2003,157,Action|Crime|Drama,7.8,14295,An SP Amit Kumar who is given charge of Tezpur...,An IPS officer motivates and leads a dysfuncti...,NaN,Ajay Devgn|Gracy Singh|Mohan Joshi|Yashpal Sha...,4 wins & 29 nominations,29 August 2003 (India)
1495,Company (film),tt0296574,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Company_(film),Company,Company,0,2002,155,Action|Crime|Drama,8.0,13474,Mallik is a henchman of Aslam Bhai a Mumbai u...,A small-time gangster named Chandu teams up wi...,A law & order enterprise,Ajay Devgn|Mohanlal|Manisha Koirala|Seema Bisw...,16 wins & 9 nominations,15 April 2002 (India)
1554,The Legend of Bhagat Singh,tt0319736,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Legend_of_Bh...,The Legend of Bhagat Singh,The Legend of Bhagat Singh,0,2002,155,Action|Biography|Drama,8.1,13455,Bhagat was born in British India during the ye...,The story of a young revolutionary who raised ...,NaN,Ajay Devgn|Sushant Singh|D. Santosh|Akhilendra...,11 wins & 5 nominations,7 June 2002 (India)
1607,Nayak (2001 Hindi film),tt0291376,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Nayak_(2001_Hind...,Nayak: The Real Hero,Nayak: The Real Hero,0,2001,187,Action|Drama|Thriller,7.8,12522,Employed as a camera-man at a popular televisi...,A man accepts a challenge by the chief ministe...,Fight the power,Anil Kapoor|Rani Mukerji|Amrish Puri|Johnny Le...,2 nominations,7 September 2001 (India)

In [49]:
# value_counts 
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'A', 'C', 'B', 'B']
}

df = pd.DataFrame(data)
df

  Category
0        A
1        B
2        A
3        C
4        B
5        A
6        A
7        C
8        B
9        B

In [50]:
df['Category'].value_counts()

A    4
B    4
C    2
Name: Category, dtype: int64

In [59]:
# find which player has won most man of the match in finals and semifinals
ipl[ipl['MatchNumber'].isin(['Final','Semi Final'])]['Player_of_Match'].value_counts()

KA Pollard      2
SR Watson       2
MK Pandey       2
MS Bisla        1
YK Pathan       1
AC Gilchrist    1
A Kumble        1
DE Bollinger    1
SK Raina        1
M Vijay         1
HH Pandya       1
F du Plessis    1
RG Sharma       1
BCJ Cutting     1
KH Pandya       1
JJ Bumrah       1
TA Boult        1
M Ntini         1
Name: Player_of_Match, dtype: int64

In [61]:
# After winning toss what the winning team prefers
ipl['TossDecision'].value_counts()

field    599
bat      351
Name: TossDecision, dtype: int64

In [67]:
# how many matches each team has played
(ipl['Team1'].value_counts() + ipl['Team2'].value_counts()).sort_values(ascending=False)

Mumbai Indians                 231
Royal Challengers Bangalore    226
Kolkata Knight Riders          223
Chennai Super Kings            208
Rajasthan Royals               192
Kings XI Punjab                190
Delhi Daredevils               161
Sunrisers Hyderabad            152
Deccan Chargers                 75
Delhi Capitals                  63
Pune Warriors                   46
Gujarat Lions                   30
Punjab Kings                    28
Gujarat Titans                  16
Rising Pune Supergiant          16
Lucknow Super Giants            15
Kochi Tuskers Kerala            14
Rising Pune Supergiants         14
dtype: int64

---

In [ ]:
# sorting  --> na_position, ascending, inplace

In [69]:
movies.sort_values(['year_of_release','title_x'],ascending=[False,True])

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
21,22 Yards,tt9496212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/22_Yards,22 Yards,22 Yards,0,2019,126,Sport,5.3,124,A dramatic portrayal of a victorious tale of a...,A dramatic portrayal of a victorious tale of a...,NaN,Barun Sobti|Rajit Kapur|Panchhi Bora|Kartikey ...,NaN,15 March 2019 (India)
26,Albert Pinto Ko Gussa Kyun Aata Hai?,tt4355838,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Albert_Pinto_Ko_...,Albert Pinto Ko Gussa Kyun Aata Hai?,Albert Pinto Ko Gussa Kyun Aata Hai?,0,2019,100,Drama,4.8,56,Albert leaves his house one morning without te...,Albert Pinto goes missing one day and his girl...,NaN,Manav Kaul|Nandita Das|,NaN,12 April 2019 (India)
10,Amavas,tt8396186,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Amavas,Amavas,Amavas,0,2019,134,Horror|Thriller,2.8,235,Far away from the bustle of the city a young ...,The lives of a couple turn into a nightmare a...,NaN,Ali Asgar|Vivan Bhatena|Nargis Fakhri|Sachiin ...,NaN,8 February 2019 (India)
46,Arjun Patiala,tt7881524,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Arjun_Patiala,Arjun Patiala,Arjun Patiala,0,2019,107,Action|Comedy,4.1,676,Arjun Patiala(Diljit Dosanjh)has recently been...,This spoof comedy narrates the story of a cop ...,NaN,Diljit Dosanjh|Kriti Sanon|Varun Sharma|Ronit ...,NaN,26 July 2019 (USA)
37,Article 15 (film),tt10324144,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Article_15_(film),Article 15,Article 15,0,2019,130,Crime|Drama,8.3,13417,In the rural heartlands of India an upright p...,In the rural heartlands of India an upright p...,Farq Bahut Kar Liya| Ab Farq Laayenge.,Ayushmann Khurrana|Nassar|Manoj Pahwa|Kumud Mi...,1 win,28 June 2019 (USA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,Yaadein (2001 film),tt0248617,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yaadein_(2001_film),Yaadein...,Yaadein...,0,2001,171,Drama|Musical|Romance,4.4,3034,Raj Singh Puri is best friends with L.K. Malho...,Raj Singh Puri is best friends with L.K. Malho...,memories to cherish...,Jackie Shroff|Hrithik Roshan|Kareena Kapoor|Am...,1 nomination,27 June 2001 (India)
1620,Yeh Raaste Hain Pyaar Ke,tt0292740,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Raaste_Hain_...,Yeh Raaste Hain Pyaar Ke,Yeh Raaste Hain Pyaar Ke,0,2001,149,Drama|Romance,4.0,607,Two con artistes and car thieves Vicky (Ajay ...,Two con artistes and car thieves Vicky (Ajay ...,Love is a journey... not a destination,Ajay Devgn|Madhuri Dixit|Preity Zinta|Vikram G...,NaN,10 August 2001 (India)
1622,Yeh Teraa Ghar Yeh Meraa Ghar,tt0298606,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Teraa_Ghar_Y...,Yeh Teraa Ghar Yeh Meraa Ghar,Yeh Teraa Ghar Yeh Meraa Ghar,0,2001,175,Comedy|Drama,5.7,704,In debt; Dayashankar Pandey is forced to go to...,In debt; Dayashankar Pandey is forced to go to...,NaN,Sunil Shetty|Mahima Chaudhry|Paresh Rawal|Saur...,1 nomination,12 October 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1623,Zubeidaa,tt0255713,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zubeidaa,Zubeidaa,Zubeidaa,0,2001,153,Biography|Drama|History,6.2,1384,The film begins with Riyaz (Rajat Kapoor) Zub...,Zubeidaa an aspiring Muslim actress marries ...,The Story of a Princess,Karisma Kapoor|Rekha|Manoj Bajpayee|Rajit Kapo...,3 wins & 13 nominations,19 January 2001 (India)

In [75]:
pd.set_option('display.max_columns', None)

In [77]:
df = pd.read_excel('fighter_details.xlsx')

,Name,Nickname,Division Title,Division Body_Wins,Division Body_Losses,Division Body_Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
398,Joe Gigliotti,Capo,Middleweight Division,7,2,0,Not Fighting,"Cleveland, United States",29,71.0,186.0,"Aug. 07, 2016",69.0,39.0,11 (55%),8 (40%),1 (5%),3 (43%),0 (0%),4 (57%),20,51,NaN,2,39%,100%,NaN,NaN,NaN,1.04,2.92,1.56,0.78,46%,50%,0.00,09:36,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
206,Kyler Phillips,The Matrix,Bantamweight Division,10,2,0,Active,"Torrance, United States",27,68.0,136.0,"Aug. 01, 2017",72.0,38.0,233 (67%),33 (9%),82 (24%),5 (50%),3 (30%),2 (20%),348,709,14,28,49%,50%,5.0,2.0,NaN,5.50,3.43,3.32,0.71,61%,69%,0.47,10:33,UFC 271,271.0,Phillips vs Rojo,"Feb. 12, 2022",[],[],NaN,NaN,The MMA Lab,3.0,NaN,NaN,NaN
302,Kenneth Cross,Null,Lightweight Division,11,3,0,Active,"Grand Rapids, United States",28,NaN,155.5,"May. 29, 2023",NaN,NaN,13 (39%),4 (12%),16 (48%),0 (0%),0 (0%),0 (0%),33,57,NaN,8,58%,13%,NaN,NaN,NaN,2.20,1.40,1.00,0.00,55%,67%,0.00,15:00,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
571,Rob Wilkinson,Razor,Middleweight Division,11,2,0,Not Fighting,Australia,30,75.0,186.0,"Sep. 02, 2017",80.0,45.0,29 (63%),17 (37%),0 (0%),4 (36%),1 (9%),6 (55%),46,92,5,20,50%,25%,NaN,NaN,NaN,2.74,5.66,4.47,0.00,39%,0.00,08:24,NaN,UFC 221,221.0,Wilkinson vs Adesanya,"Feb. 10, 2018",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,Yves Jabouin,Tiger,Bantamweight Division,20,11,0,Not Fighting,United States,43,67.0,135.5,"Apr. 30, 2011",68.0,NaN,354 (83%),26 (6%),47 (11%),0 (0%),0 (0%),0 (0%),427,1039,NaN,30,41%,60%,NaN,NaN,NaN,3.06,2.93,1.94,0.11,63%,82%,0.22,10:44,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
1545,Leandro Silva,Buscape,Lightweight Division,19,4,1,Not Fighting,"Sao Paulo, Brazil",37,69.0,156.0,"Jun. 08, 2013",72.0,42.0,210 (86%),29 (12%),5 (2%),1 (5%),8 (42%),10 (53%),244,502,NaN,32,49%,38%,NaN,NaN,NaN,2.39,2.08,1.76,0.44,63%,66%,0.00,12:45,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
2092,Matt Brown,The Immortal,Welterweight Division,26,19,0,Active,"Xenia, United States",42,72.0,186.0,"Jun. 21, 2008",75.0,43.0,586 (56%),276 (27%),177 (17%),17 (65%),2 (8%),7 (27%),1039,1874,23,66,55%,47%,17.0,7.0,NaN,3.76,2.92,1.68,1.30,55%,64%,0.60,09:13,NaN,NaN,NaN,NaN,['Holds second round TKO win over Matt Arroyo ...,['UFC on ABC (5/13/23) Brown knocked out Court...,No information is available for the last fight.,Brawler,None,2.0,NaN,NaN,NaN
1517,Dustin Joynson,Null,Heavyweight Division,0,0,0,Active,"Victoria, Canada",37,NaN,241.5,"May. 29, 2023",NaN,NaN,5 (71%),2 (29%),0 (0%),0 (0%),0 (0%),0 (0%),7,13,Null,Null,54%,NaN,NaN,NaN,NaN,3.28,5.63,0.00,0.00,48%,0.00,02:08,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
1180,Poliana Botelho,Null,Women's Flyweight Division,8,5,0,Not Fighting,"State of Minas Gerais, Brazil",34,68.0,125.5,"Oct. 07, 2017",67.0,39.0,112 (55%),70 (34%),22 (11%),6 (75%),2 (25%),0 (0%),204,348,1,7,59%,57%,6.0,NaN,4.0,2.90,2.80,0.85,0.00,54%,77%,0.21,10:02,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,MMA,Nova Unio,NaN,NaN,NaN,NaN
2323,Jordan Radev,Null,Middleweight Division,16,3,0,Not Fighting,"Pomorie, Bulgaria",46,67.0,185.0,"Jun. 12, 2007",NaN,NaN,17 (81%),3 (14%),1 (5%),0 (0%),0 (0%),0 (0%),21,91,Null,Null,23%,NaN,NaN,NaN,NaN,1.35,2.38,0.00,0.00,66%,80%,0.00,07:47,UFC 79,79.0,Lister vs Radev,"Dec. 29, 2007",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df.sample(10)

,Name,Nickname,Division Title,Division Body_Wins,Division Body_Losses,Division Body_Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
1874,Jesse Lennox,The Ox,Welterweight Division,15,3,0,Not Fighting,"Cedar Rapids, United States",40,69.0,170.0,"Aug. 08, 2009",NaN,NaN,87 (66%),28 (21%),17 (13%),0 (0%),0 (0%),0 (0%),132,412,NaN,6,32%,67%,NaN,NaN,NaN,2.69,3.20,1.22,0.31,65%,64%,0.00,12:16,UFC 115,115.0,Pyle vs Lennox,"Jun. 12, 2010",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Toshiomi Kazama,Null,Bantamweight Division,10,3,0,Active,Japan,25,67.0,136.0,"Jun. 09, 2022",69.0,38.5,14 (48%),11 (38%),4 (14%),3 (30%),2 (20%),5 (50%),29,50,NaN,13,58%,15%,3.0,5.0,6.0,1.87,2.12,1.93,0.00,51%,67%,0.00,07:47,NaN,NaN,NaN,NaN,"['Pro since 2020', 'Three wins by knockout, fi...",[],No information is available for the last fight.,Brazilian Jiu-Jitsu,NaN,NaN,NaN,NaN,NaN
999,Nikolay Veretennikov,Null,Welterweight Division,0,1,0,Active,Ukraine,33,73.0,171.0,"May. 29, 2023",74.0,44.0,41 (79%),4 (8%),7 (13%),0 (0%),0 (0%),0 (0%),52,79,NaN,3,66%,0%,NaN,NaN,NaN,3.47,3.53,0.00,0.00,56%,50%,0.00,15:00,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
1319,Ray Rodriguez,The Judge,Bantamweight Division,16,8,0,Not Fighting,"San Antonio, United States",35,67.0,135.5,"May. 29, 2023",NaN,NaN,19 (100%),0 (0%),0 (0%),3 (19%),5 (31%),8 (50%),19,68,NaN,4,28%,50%,3.0,8.0,NaN,0.90,3.89,1.42,0.00,41%,44%,0.00,07:01,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,Freestyle,Ultimate Submission Academy,5.0,NaN,NaN,NaN
1871,James Barnes,Mooka,Bantamweight Division,0,1,0,Active,"Los Angeles, United States",40,68.0,135.0,"May. 29, 2023",71.0,39.5,5 (63%),3 (38%),0 (0%),0 (0%),0 (0%),0 (0%),8,23,NaN,6,35%,17%,NaN,NaN,NaN,0.57,3.02,1.08,0.00,39%,40%,0.00,07:49,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
717,Rachael Ostovich,Null,Women's Flyweight Division,4,6,0,Not Fighting,"Honolulu, United States",31,63.0,125.5,"Dec. 01, 2017",62.0,38.5,81 (86%),11 (12%),2 (2%),0 (0%),2 (50%),2 (50%),94,218,1,6,43%,83%,NaN,2.0,NaN,2.54,3.97,2.03,0.81,58%,67%,0.00,09:15,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
2300,Rosi Sexton,The Surgeon,Women's Bantamweight Division,13,4,0,Not Fighting,France,45,63.0,135.0,"Jun. 15, 2013",63.0,NaN,109 (83%),7 (5%),16 (12%),2 (15%),4 (31%),7 (54%),132,332,NaN,20,40%,10%,NaN,NaN,NaN,3.31,7.42,0.75,0.00,41%,80%,0.00,13:18,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
52,Bahatebole Batebolati,Null,Lightweight Division,0,0,0,Active,"Xinjiang, China",25,NaN,NaN,"May. 29, 2023",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
1431,Michael Chandler,Iron,Lightweight Division,23,8,0,Active,"High Ridge, United States",36,68.0,155.8,"Jan. 23, 2021",71.5,37.5,218 (64%),21 (6%),100 (29%),11 (48%),5 (22%),7 (30%),339,730,1,26,46%,38%,11.0,7.0,13.0,4.89,4.58,2.17,0.87,46%,71%,0.65,07:44,UFC 281,281.0,Poirier vs Chandler,"Nov. 12, 2022","['Pro since 2009', '11 wins by KO, seven by su...",['UFC 281 (11/12/22) Chandler was submitted by...,NaN,Wrestler,Sanford MMA,NaN,NaN,NaN,NaN
122,Jesus Pinedo,El Mudo,Lightweight Division,16,5,1,Not Fighting,"Callao Region, Peru",26,69.0,155.5,"Nov. 17, 2018",74.0,39.5,75 (77%),7 (7%),15 (15%),7 (44%),5 (31%),4 (25%),97,255,5,5,38%,100%,7.0,4.0,NaN,3.23,4.37,2.50,0.00,53%,100%,0.00,15:00,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,0.0,NaN,NaN

In [82]:
df[df['Name'] =='Charles Olbiveira']

,Name,Nickname,Division Title,Division Body_Wins,Division Body_Losses,Division Body_Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
913,Charles Oliveira,Do Bronx,Lightweight Division,33,9,0,Active,"State of So Paulo, Brazil",33,70.0,154.5,"Aug. 01, 2010",74.0,41.0,437 (58%),157 (21%),157 (21%),9 (27%),3 (9%),21 (64%),751,1405,26,84,53%,40%,9.0,21.0,NaN,3.48,3.2,2.37,2.78,52%,56%,0.49,06:57,UFC 280,280.0,Oliveira vs Makhachev,"Oct. 22, 2022",['14fights back at lightweight (12-2) after el...,['UFC 280 (10/22/22) Oliveira was submitted by...,NaN,Jiu-Jitsu,Bronx's Gold Team,NaN,NaN,NaN,NaN

In [85]:
# rename
df.rename(columns={'Division Title' : 'Division',
                  'Division Body_Wins':'Wins',
                  'Division Body_Losses' : 'Losses',
                  'Division Body_Draws': 'Draws'},inplace=True)

In [89]:
# set index
df.set_index('Name',inplace=True)

In [91]:
# rename index
df.rename(index={'Francisco Prado':'fransic'})

,Nickname,Division,Wins,Losses,Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
fransic,Null,Lightweight Division,11,1,0,Active,"San Lorenzo , Argentina",20,70.0,154.5,"Feb. 11, 2023",69.0,37.98,28 (100%),0 (0%),0 (0%),5 (45%),0 (0%),6 (55%),28,75,NaN,2,37%,0%,5.0,6.0,8.0,1.87,3.93,0.00,1.00,43%,25%,0.00,15:00,UFC 284,284.0,Mullarkey vs Prado,"Feb. 11, 2023","['Pro since 2019', 'Five wins by KO, six by su...",['UFC 284 (2/11/23) Prado lost a three round u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jos Henrique,Null,Welterweight Division,0,1,0,Not Fighting,"Manaus, Brazil",20,NaN,171.0,"May. 29, 2023",NaN,NaN,37 (100%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),37,85,Null,Null,44%,NaN,NaN,NaN,NaN,3.45,5.79,0.00,0.00,39%,0.00,10:43,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Rei Tsuruya,Null,Null,Null,Null,Null,Active,Japan,20,NaN,NaN,"May. 29, 2023",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Takeru Uchida,Null,Flyweight Division,1,0,0,Active,NaN,20,NaN,125.5,"Jun. 09, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,4.37,0.00,03:26,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Yamato Nishikawa,Null,Lightweight Division,0,0,0,Not Fighting,Japan,20,NaN,NaN,"Oct. 22, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Patrick Smith,Null,Heavyweight Division,4,2,0,Not Fighting,"Denver, United States",59,74.0,225.0,"Nov. 12, 1993",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 6,6.0,Smith vs Moncayo,"Jul. 14, 1995",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paul Jones,Null,Middleweight Division,0,0,0,Not Fighting,United States,59,0.0,0.0,"Jul. 16, 1999",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 22,22.0,Liddell vs Jones,"Sep. 24, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Randy Couture,The Natural,Light Heavyweight Division,19,11,0,Retired,United States,59,74.0,204.0,"May. 30, 1997",75.0,NaN,206 (29%),213 (30%),289 (41%),0 (0%),0 (0%),0 (0%),708,1221,NaN,98,58%,47%,NaN,NaN,NaN,2.85,1.53,2.78,0.48,59%,58%,0.06,12:25,UFC 129,129.0,Machida vs Couture,"Apr. 30, 2011",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marco Ruas,Null,Heavyweight Division,0,0,0,Not Fighting,Brazil,60,0.0,0.0,"Sep. 08, 1995",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 21,21.0,Smith vs Ruas,"Jul. 16, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tony Halme,Null,Heavyweight Division,0,0,0,Not Fighting,"Helsinki, Finland",60,0.0,0.0,"May. 30, 1997",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 13,13.0,Couture vs Halme,"May. 30, 1997",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
# unique --> couonts null
ipl['Season'].unique()

array(['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08'],
      dtype=object)

In [94]:
# nunique  --> does not counts null values
ipl['Season'].nunique()

15

In [102]:
# replace
df['Nickname'].replace({'Null': None},inplace=True)

###  WORKING WITH NA values.

In [105]:
# isnull 
df['Nickname'].isnull()

Name
Francisco Prado      True
Jos Henrique         True
Rei Tsuruya          True
Takeru Uchida        True
Yamato Nishikawa     True
                    ...
Patrick Smith        True
Paul Jones           True
Randy Couture       False
Marco Ruas           True
Tony Halme           True
Name: Nickname, Length: 2564, dtype: bool

In [106]:
df['Nickname'].notnull()

Name
Francisco Prado     False
Jos Henrique        False
Rei Tsuruya         False
Takeru Uchida       False
Yamato Nishikawa    False
                    ...
Patrick Smith       False
Paul Jones          False
Randy Couture        True
Marco Ruas          False
Tony Halme          False
Name: Nickname, Length: 2564, dtype: bool

In [108]:
# hasnans
df.index.hasnans

False

In [109]:
df.Nickname.hasnans

True

In [127]:
# dropna
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 22],
    'Score': [85, 92, None, 78],
    'Gender': ['Female', 'Male', None, 'Male']
}
temp = pd.DataFrame(data)

In [128]:
temp

      Name   Age  Score  Gender
0    Alice  25.0   85.0  Female
1      Bob   NaN   92.0    Male
2  Charlie  30.0    NaN    None
3    David  22.0   78.0    Male

In [129]:
temp.dropna() # how="all"

    Name   Age  Score  Gender
0  Alice  25.0   85.0  Female
3  David  22.0   78.0    Male

In [130]:
temp.dropna(axis=1)

      Name
0    Alice
1      Bob
2  Charlie
3    David

In [135]:
temp.dropna(subset=['Name','Gender'])

    Name   Age  Score  Gender
0  Alice  25.0   85.0  Female
1    Bob   NaN   92.0    Male
3  David  22.0   78.0    Male

In [131]:
#fillna
temp.fillna(0)

      Name   Age  Score  Gender
0    Alice  25.0   85.0  Female
1      Bob   0.0   92.0    Male
2  Charlie  30.0    0.0       0
3    David  22.0   78.0    Male

In [132]:
temp.fillna(method='ffill')  # Forward fill
temp.fillna(method = 'bfill')

      Name   Age  Score  Gender
0    Alice  25.0   85.0  Female
1      Bob  30.0   92.0    Male
2  Charlie  30.0   78.0    Male
3    David  22.0   78.0    Male

In [133]:
# interpolation
temp.interpolate()

      Name   Age  Score  Gender
0    Alice  25.0   85.0  Female
1      Bob  27.5   92.0    Male
2  Charlie  30.0   85.0    None
3    David  22.0   78.0    Male

### Working with duplicates

In [146]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Eva', 'Bob','Nate'],
    'Age': [25, 30, 22, 28, 25, 26, 30,30],
    'Score': [85, 92, 78, 80, 85, 90, 92,92]
}

temp = pd.DataFrame(data)

In [147]:
temp

      Name  Age  Score
0    Alice   25     85
1      Bob   30     92
2  Charlie   22     78
3    David   28     80
4    Alice   25     85
5      Eva   26     90
6      Bob   30     92
7     Nate   30     92

In [148]:
temp.duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
dtype: bool

In [149]:
temp.drop_duplicates()

      Name  Age  Score
0    Alice   25     85
1      Bob   30     92
2  Charlie   22     78
3    David   28     80
5      Eva   26     90
7     Nate   30     92

In [153]:
temp.drop_duplicates(subset=['Age','Score'])

      Name  Age  Score
0    Alice   25     85
1      Bob   30     92
2  Charlie   22     78
3    David   28     80
5      Eva   26     90

In [155]:
temp.drop_duplicates(keep='first')

      Name  Age  Score
0    Alice   25     85
1      Bob   30     92
2  Charlie   22     78
3    David   28     80
5      Eva   26     90
7     Nate   30     92

In [156]:
# find the last match played by virat kohli in Delhi
ipl['all_players'] = ipl['Team1Players'] + ipl['Team2Players']
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,all_players
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ..."
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ..."
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ..."

In [157]:
def kohli_played_or_not(players):
    return 'V Kohli' in players

In [158]:
ipl['Kohli'] = ipl['all_players'].apply(kohli_played_or_not)

In [162]:
ipl[(ipl['City'] == 'Delhi') & (ipl['Kohli'] == True)].drop_duplicates(subset=['City','Kohli'],keep='first')

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,all_players,Kohli
208,1178421,Delhi,2019-04-28,2019,46,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Delhi Capitals,bat,N,Delhi Capitals,Runs,16.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['PA Patel', 'V Kohli', 'AB de Villiers', 'S D...",BNJ Oxenford,KN Ananthapadmanabhan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",True

---

In [ ]:
# drop

In [163]:
temp = pd.read_csv('Data/sample.csv')
temp.head()

      name sex   age  height  weight
0   Aubrey   M  41.0      74     170
1      Ron   M  42.0      68     166
2     Carl   M  32.0      70     155
3  Antonio   M  39.0      72     167
4  Deborah   F  30.0      66     124

In [164]:
temp.drop(columns=['age'])

          name sex  height  weight
0       Aubrey   M      74     170
1          Ron   M      68     166
2         Carl   M      70     155
3      Antonio   M      72     167
4      Deborah   F      66     124
5   Jacqueline   F      66     115
6        Helen   F      64     121
7        David   M      71     158
8        James   M      72     175
9      Michael   M      69     143
10        Ruth   F      69     139
11        Joel   M      72     163
12       Donna   F      62      98
13       Roger   M      75     160
14         Yao   M      70     145
15   Elizabeth   F      67     135
16         Tim   M      71     176
17       Susan   F      65     131

In [167]:
temp.drop(index=[1,10])

          name sex   age  height  weight
0       Aubrey   M  41.0      74     170
2         Carl   M  32.0      70     155
3      Antonio   M  39.0      72     167
4      Deborah   F  30.0      66     124
5   Jacqueline   F  33.0      66     115
6        Helen   F  26.0      64     121
7        David   M  30.0      71     158
8        James   M  53.0      72     175
9      Michael   M  32.0      69     143
11        Joel   M  34.0      72     163
12       Donna   F  23.0      62      98
13       Roger   M  36.0      75     160
14         Yao   M   NaN      70     145
15   Elizabeth   F  31.0      67     135
16         Tim   M  29.0      71     176
17       Susan   F  28.0      65     131

In [168]:
# append
new_record={'name': 'suraj','sex': 'M','age': 21,'height': 73,'weight': 160}
temp.append(new_record, ignore_index=True)

C:\Users\91775\AppData\Local\Temp\ipykernel_15692\582237488.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp.append(new_record, ignore_index=True)

          name sex   age  height  weight
0       Aubrey   M  41.0      74     170
1          Ron   M  42.0      68     166
2         Carl   M  32.0      70     155
3      Antonio   M  39.0      72     167
4      Deborah   F  30.0      66     124
5   Jacqueline   F  33.0      66     115
6        Helen   F  26.0      64     121
7        David   M  30.0      71     158
8        James   M  53.0      72     175
9      Michael   M  32.0      69     143
10        Ruth   F  47.0      69     139
11        Joel   M  34.0      72     163
12       Donna   F  23.0      62      98
13       Roger   M  36.0      75     160
14         Yao   M   NaN      70     145
15   Elizabeth   F  31.0      67     135
16         Tim   M  29.0      71     176
17       Susan   F  28.0      65     131
18       suraj   M  21.0      73     160

### GROUPPING

In [169]:
movies = pd.read_csv('Data/imdb-top-1000.csv')

In [170]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [174]:
# find the top 3 genres by total earning
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [175]:
# find the genre with highest avg IMDB rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [176]:
# find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [178]:
# find number of movies done by each actor
# movies['Star1'].value_counts()

movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ömer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

In [185]:
# get_group
movies.groupby('Genre').get_group('Action')
# movies[movies['Genre'] == 'Fantasy']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [187]:
# groupby on multiple cols
duo = movies.groupby(['Director','Star1'])
duo
# size
duo.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [192]:
# get_group
duo.get_group(('Christopher Nolan','Christian Bale'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
36,The Prestige,2006,130,Drama,8.5,Christopher Nolan,Christian Bale,1190259,53089891.0,66.0
63,The Dark Knight Rises,2012,164,Action,8.4,Christopher Nolan,Christian Bale,1516346,448139099.0,78.0
155,Batman Begins,2005,140,Action,8.2,Christopher Nolan,Christian Bale,1308302,206852432.0,70.0

In [199]:
df

,Nickname,Division,Wins,Losses,Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Francisco Prado,None,Lightweight Division,11,1,0,Active,"San Lorenzo , Argentina",20,70.0,154.5,"Feb. 11, 2023",69.0,37.98,28 (100%),0 (0%),0 (0%),5 (45%),0 (0%),6 (55%),28,75,NaN,2,37%,0%,5.0,6.0,8.0,1.87,3.93,0.00,1.00,43%,25%,0.00,15:00,UFC 284,284.0,Mullarkey vs Prado,"Feb. 11, 2023","['Pro since 2019', 'Five wins by KO, six by su...",['UFC 284 (2/11/23) Prado lost a three round u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jos Henrique,None,Welterweight Division,0,1,0,Not Fighting,"Manaus, Brazil",20,NaN,171.0,"May. 29, 2023",NaN,NaN,37 (100%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),37,85,Null,Null,44%,NaN,NaN,NaN,NaN,3.45,5.79,0.00,0.00,39%,0.00,10:43,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Rei Tsuruya,None,Null,Null,Null,Null,Active,Japan,20,NaN,NaN,"May. 29, 2023",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Takeru Uchida,None,Flyweight Division,1,0,0,Active,NaN,20,NaN,125.5,"Jun. 09, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,4.37,0.00,03:26,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
Yamato Nishikawa,None,Lightweight Division,0,0,0,Not Fighting,Japan,20,NaN,NaN,"Oct. 22, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Patrick Smith,None,Heavyweight Division,4,2,0,Not Fighting,"Denver, United States",59,74.0,225.0,"Nov. 12, 1993",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 6,6.0,Smith vs Moncayo,"Jul. 14, 1995",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paul Jones,None,Middleweight Division,0,0,0,Not Fighting,United States,59,0.0,0.0,"Jul. 16, 1999",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 22,22.0,Liddell vs Jones,"Sep. 24, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Randy Couture,The Natural,Light Heavyweight Division,19,11,0,Retired,United States,59,74.0,204.0,"May. 30, 1997",75.0,NaN,206 (29%),213 (30%),289 (41%),0 (0%),0 (0%),0 (0%),708,1221,NaN,98,58%,47%,NaN,NaN,NaN,2.85,1.53,2.78,0.48,59%,58%,0.06,12:25,UFC 129,129.0,Machida vs Couture,"Apr. 30, 2011",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marco Ruas,None,Heavyweight Division,0,0,0,Not Fighting,Brazil,60,0.0,0.0,"Sep. 08, 1995",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 21,21.0,Smith vs Ruas,"Jul. 16, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tony Halme,None,Heavyweight Division,0,0,0,Not Fighting,"Helsinki, Finland",60,0.0,0.0,"May. 30, 1997",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 13,13.0,Couture vs Halme,"May. 30, 1997",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
# Calculate the average age of athletes in each division.
df.groupby('Division')['Bio Data_Age'].mean()

Division
Bantamweight Division             33.401606
Featherweight Division            33.192000
Flyweight Division                32.163399
Heavyweight Division              40.506383
Light Heavyweight Division        38.323810
Lightweight Division              35.975610
Middleweight Division             38.569733
Null                              30.166667
Welterweight Division             37.184466
Women's Bantamweight Division     34.224138
Women's Featherweight Division    33.714286
Women's Flyweight Division        31.402439
Women's Strawweight Division      32.070000
Name: Bio Data_Age, dtype: float64

In [211]:
df['Losses']

Name
Francisco Prado        1
Jos Henrique           1
Rei Tsuruya         <NA>
Takeru Uchida          0
Yamato Nishikawa       0
                    ...
Patrick Smith          2
Paul Jones             0
Randy Couture         11
Marco Ruas             0
Tony Halme             0
Name: Losses, Length: 2564, dtype: object

In [216]:
# Calculate the total number of wins and losses for each division.


df['Wins'] = df['Wins'].replace('Null', pd.NA)
df['Wins'] = pd.to_numeric(df['Wins'], errors='coerce')

df['Losses'] = df['Losses'].replace({'Null': pd.NA,'<NA>':pd.NA})
df['Losses'] = pd.to_numeric(df['Losses'], errors='coerce')


df.groupby('Division')[['Wins','Losses']].sum().drop(index= 'Null')

                                  Wins  Losses
Division
Bantamweight Division           3103.0  1153.0
Featherweight Division          3210.0  1132.0
Flyweight Division              1563.0   577.0
Heavyweight Division            2607.0   942.0
Light Heavyweight Division      2545.0   977.0
Lightweight Division            5242.0  1929.0
Middleweight Division           4143.0  1494.0
Welterweight Division           5618.0  2118.0
Women's Bantamweight Division    489.0   225.0
Women's Featherweight Division   138.0    45.0
Women's Flyweight Division       758.0   358.0
Women's Strawweight Division     882.0   403.0

In [245]:
# Find the most common fighting style among athletes.

# df.reset_index(inplace=True)
df.groupby('Bio Data_Fighting style')['Name'].count().sort_values(ascending= False).idxmax()

'MMA'

In [254]:
ages = [18, 25, 30, 40, 50, 60, 70, 80]

# Define the bins
bins = [20, 30, 40, 50, 60]

pd.cut(df['Bio Data_Age'], bins).value_counts()

(30, 40]    1335
(20, 30]     599
(40, 50]     523
(50, 60]     102
Name: Bio Data_Age, dtype: int64

In [251]:
# Calculate the average striking accuracy for athletes in different age groups.

# df['Striking accuracy'] = df['Striking accuracy'].str.rstrip('%').astype(float)
bins = [20, 30, 40, 50, 60]
df.groupby(pd.cut(df['Bio Data_Age'], bins))['Striking accuracy'].mean()

Bio Data_Age
(20, 30]    46.900188
(30, 40]    44.061807
(40, 50]    42.077710
(50, 60]    46.016393
Name: Striking accuracy, dtype: float64

In [233]:
# Count the number of athletes in each combination of fighting style and division.
df.groupby(['Bio Data_Fighting style', 'Division'])['Name'].count().reset_index()

    Bio Data_Fighting style                      Division  Name
0                     Boxer         Bantamweight Division     5
1                     Boxer        Featherweight Division     2
2                     Boxer          Heavyweight Division     2
3                     Boxer    Light Heavyweight Division     3
4                     Boxer          Lightweight Division     3
..                      ...                           ...   ...
154               Wrestling          Lightweight Division     2
155               Wrestling         Middleweight Division     2
156               Wrestling         Welterweight Division     4
157               Wrestling    Women's Flyweight Division     1
158               Wrestling  Women's Strawweight Division     1

[159 rows x 3 columns]

##

In [264]:
# Create sample data
students = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
})

scores = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105],
    'Math_Score': [85, 90, 75, 88, 92],
    'Science_Score': [78, 85, 70, 92, 85]
})

courses = pd.DataFrame({
    'Course_ID': [1, 2, 3],
    'Course_Name': ['Math', 'Science', 'History']
})

enrollments = pd.DataFrame({
    'Student_ID': [101, 102, 103, 105],
    'Course_ID': [1, 2, 3, 1]
})

In [265]:
students

   Student_ID     Name
0         101    Alice
1         102      Bob
2         103  Charlie
3         104    David
4         105      Eve

In [266]:
scores

   Student_ID  Math_Score  Science_Score
0         101          85             78
1         102          90             85
2         103          75             70
3         104          88             92
4         105          92             85

In [267]:
courses

   Course_ID Course_Name
0          1        Math
1          2     Science
2          3     History

In [269]:
enrollments

   Student_ID  Course_ID
0         101          1
1         102          2
2         103          3
3         105          1

In [268]:
## Merge
pd.merge(students, scores, on='Student_ID', how='inner')

   Student_ID     Name  Math_Score  Science_Score
0         101    Alice          85             78
1         102      Bob          90             85
2         103  Charlie          75             70
3         104    David          88             92
4         105      Eve          92             85

In [263]:
pd.merge(students, scores, on='Student_ID', how='left')

   Student_ID     Name  Math_Score  Science_Score
0         101    Alice          85             78
1         102      Bob          90             85
2         103  Charlie          75             70
3         104    David          88             92
4         105      Eve          92             85

In [271]:
merged_data = pd.merge(enrollments, courses, on='Course_ID')
merged_data = pd.merge(merged_data, students, on='Student_ID')

In [272]:
merged_data

   Student_ID  Course_ID Course_Name     Name
0         101          1        Math    Alice
1         105          1        Math      Eve
2         102          2     Science      Bob
3         103          3     History  Charlie

In [275]:
pd.concat([students, scores], axis=1)

   Student_ID     Name  Student_ID  Math_Score  Science_Score
0         101    Alice         101          85             78
1         102      Bob         102          90             85
2         103  Charlie         103          75             70
3         104    David         104          88             92
4         105      Eve         105          92             85