# Strings

- A string is a sequence of characters enclosed in either single quotes ('') or double quotes (""). 
- Strings are used to represent text or character data in a program.
- They are immutable, which means once a string is created, it cannot be changed.

In [1]:
a = 'suraj, abc,gght,kjfdksjfkjksdf,randomname'

In [2]:
len(a)

41

In [3]:
a[0]

's'

In [4]:
a[0] = 'u'

TypeError: 'str' object does not support item assignment

---
### Creating a String:

In [ ]:

my_string = 'This is an "important" message'
print(my_string)
len(my_string)

In [5]:
a

'suraj, abc,gght,kjfdksjfkjksdf,randomname'

In [11]:
a[2:5]

'raj'

In [16]:
a[-10:-4]

'random'

In [15]:
a[-4:]

'name'

In [13]:
a[7:10]

'abc'

In [7]:
a[7]

'a'

In [10]:
a[-6]

'o'

In [6]:
a[4]

'j'

In [ ]:
a[-5]

In [ ]:
a[2:5]

In [ ]:
a[7:10]

In [ ]:
a[-4:]

In [ ]:
# random 
a[-10:-4]

---
###  Accessing Characters in a String:
- You can access individual characters in a string using indexing. Indexing starts at 0 for the first character.

In [ ]:
my_string = "Hello, World!"
print(my_string[-2])  # Output: H

---
### String Concatenation:

- You can concatenate (join) two or more strings together using the + operator.

In [ ]:
my_string = "hello, world!"

In [ ]:
print(my_string[:5])
print(my_string[-6:])
print(my_string[7:12])

In [19]:
string1 = "Hello"
string2 = "World" 

string1 + " "  + string2

'Hello World'

In [21]:
name = "fname lname"
fname = "fathersname"

result = name[0:5] +' ' + fname + " " + name[6:]
result

'fname fathersname lname'

In [22]:
my_str = "JOHN JONES"
# print(len(my_str))
for i in my_str:
    print(i)

J
O
H
N

J
O
N
E
S

---
### String Length:

- The len() function can be used to determine the length of a string (number of characters).

In [ ]:
my_string = "Hello, World!"
length = len(my_string)
print(length)  # Output: 13

--- 
### String Slicing:

- You can extract a substring from a string using slicing. Slicing allows you to specify a range of indices to extract characters.

In [ ]:
my_string = "Hello, World!"
substring = my_string[7:12]
print(substring)  # Output: World

In [ ]:
my_string[7:]

In [ ]:
my_string[0:5]

In [ ]:
my_string[-6:-1]

---

In [23]:
my_string = "batman"

In [24]:
my_string.capitalize()

'Batman'

In [25]:
my_string.upper()

'BATMAN'

In [26]:
upper =my_string.upper()
upper.lower()

'batman'

In [27]:
a = "    value1  v     value2       "
a.strip()

'value1  v     value2'

In [30]:
a = 'batman,superman,nightwing,robin,wonder women'

In [32]:
print(a.split(','))

['batman', 'superman', 'nightwing', 'robin', 'wonder women']

In [35]:
name = "Richard Graysonaaaaaan"
name.replace('a','u')

'Richurd Gruysonuuuuuun'

In [36]:
name.split()

['Richard', 'Graysonaaaaaan']

In [37]:
name.find('a')

4

In [38]:
name.count('a')

8

---
### String Methods:

- Python provides various built-in string methods to manipulate and process strings. Here are a few commonly used methods:<br>
    - `lower():` Converts the string to lowercase.<br>
    - `upper():` Converts the string to uppercase.<br>
    - `strip():` Removes leading and trailing whitespace characters.<br>
    - `split():` Splits the string into a list of substrings based on a delimiter.<br>
    - `replace():` Replaces occurrences of a substring with another substring.<br>
    - `find():` Returns the index of the first occurrence of a substring.<br>
    - `count():` Returns the number of occurrences of a substring.<br>

In [ ]:
myvar = 'india,america,brazil,russia'
my_list = myvar.split(',')

for country in my_list:
    result = country[0].upper() + country[1:] 
    print(result,end=",")

In [ ]:
var = "abc_xyzAAAA"
var.upper()

In [ ]:
var.lower()

In [ ]:
name = '         DHRUv    Tiwari             '
# name.strip().lower()
name.replace(" ","")

In [ ]:
var = "cricket fotball"
print(var.split())
v1, v2 = var.split()
print(v1)
print(v2)

In [ ]:
var = "cricket fotball"
var = var.replace('fotball','basketball')
var

In [ ]:
var.find('t')

In [ ]:
var.count('c')

In [ ]:
name = "abc , xyz"
fname , lname = name.split(',')
print(fname)
print(lname)

In [ ]:
names = 'dhruv- suraj- abc-cde-xyz'
my_list = names.split('-')
my_list

In [ ]:
sub = 'a'

In [ ]:
names.count('d')

In [ ]:
names = 'dhruv- suraj- abc-cde-xyz'
names.replace('-',',')

In [ ]:
my_string = "   Hello, World!   "
print(my_string.lower())         # Output:    hello, world!   
print(my_string.strip())         # Output: Hello, World!
print(my_string.split(','))      # Output: ['   Hello', ' World!   ']
print(my_string.replace('l', 'L'))  # Output:    HeLLo, WorLd!   
print(my_string.find('World'))    # Output: 9
print(my_string.count('o'))      # Output: 2

### String Formatting:

- You can format strings using special placeholders and format() method to insert values into the string.

In [45]:
name = "Nate"
age = 22


message = "YOUR NAME IS " + name + " " + "And YOUR AGE IS "+ str(age) + "."

message = "YOUR NAME IS {} and YOUR AGE IS {}.".format(name,age)

message = f"YOUR NAME IS {name} and YOUR AGE IS {age}."  #fstring
print(message)

YOUR NAME IS Nate and YOUR AGE IS 22.

In [ ]:
# take input from user name, age

### String Membership:

- You can check if a substring is present in a string using the in and not in operators.
- These operators return True or False based on the presence or absence of the substring.

In [46]:
my_string = "Hello, World!"
print("Hello" in my_string)  
print("Foo" in my_string)

True
False

In [ ]:
s = "this is a string word"
# print the length of the string
# separate the string based on space
# replace s with w 
# check if 'word' is present or not if present then you will presern (yes it is present)
# count how many times a has occured in my string
# repeat the above string for 5 times.

In [ ]:
list(range(1,6))

In [ ]:
for i in range(5):
    print(s)

## String Formatting with Alignment and Padding:
- You can align and pad strings using the `ljust()`, `rjust()`, and `center()` methods.
- These methods allow you to specify the width and fill character for alignment.<br>
<br>
- The `rjust()` method right-aligns the string within a specified width by adding a specified fill character to the left. <br>
- The `ljust()` method left-aligns the string within a specified width by adding a specified fill character to the right.<br>
- The `center()` method centers the string within a specified width by adding a specified fill character on both sides.<br>

In [47]:
s = 'suraj'

In [52]:
s.center(15,'-')

'-----suraj-----'

print(string.rjust(6,'a'))

In [ ]:
print(string.center(6,'-'))

In [ ]:
my_string = "Hell0"
aligned_string = my_string.rjust(10, '_')
print(aligned_string)  # Output: -----Hello

padded_string = my_string.ljust(10, '*')
print(padded_string)  # Output: Hello*****

centered_string = my_string.center(10, '=')
print(centered_string)  # Output: ==Hello===