# TUPLES

- Tuples in Python are collections of objects that are ordered, unchangeable, and can allow duplicate values.
- They are similar to lists, but they are immutable, meaning that you cannot add, remove, or change their elements once they are created.
- Tuples are written with round brackets () and the items are separated by commas.

In [52]:
# e.g :
my_var = (2,2,'abc')
fruits = ("apple", 'banana', "cherry",'mango','cherry','grapes',("abc",1,2,3),my_var)

In [53]:
# accessing elements
fruits[-1][0]

2

In [ ]:
(fruits[-1])

In [ ]:
fruits[-4:-1]

---

- You can also use the tuple() constructor to create a tuple from an iterable object, such as a list, a string, or a range.

---

In [14]:
my_list = [1,2,3,'abc','xyz']
print(type(my_list))
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [15]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [16]:
mytuple = tuple(["a", "b", "c"]) # creates a tuple from a list 
print(mytuple)
mytuple = tuple("hello") # creates a tuple from a string 
print(mytuple)
mytuple = tuple(range(5)) # creates a tuple from a range
print(mytuple)

('a', 'b', 'c')
('h', 'e', 'l', 'l', 'o')
(0, 1, 2, 3, 4)

In [ ]:
galaxies = ['sun','moon','earth']
new_tuple = tuple(galaxies)
print(new_tuple)
print(type(new_tuple))

In [17]:
from_1_to_10 = range(1,11)
new_tuple = tuple(from_1_to_10)

In [18]:
new_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
len(new_tuple)

10

In [20]:
sum(new_tuple)

55

In [22]:
sorted(new_tuple,reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
max(new_tuple)

10

In [24]:
min(new_tuple)

1

## Adding items

In [ ]:
t = (1,2,3,4,5,6,7,8)
list(t)

In [26]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
print(y)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry', 'orange')

In [56]:
### 
a = ('thisisatuple')
print(type(a))
b = ('thisisatuple',)
print(type(b))

<class 'str'>
<class 'tuple'>

In [28]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y
# thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [29]:
## deletiing
thistuple = ("apple", "banana", "cherry")

In [31]:
thistuple[0]

'apple'

In [32]:
del thistuple

In [33]:
thistuple

NameError: name 'thistuple' is not defined

In [37]:
# unpacking
 
    
thistuple = ("apple", "banana", "cherry")

a, b, c = thistuple

print(a)
print(b)
print(c)

apple
banana
cherry

In [39]:
print(*(thistuple))

apple banana cherry

## JOINING Tuples

In [40]:
a = ('dhruv','abc','xyz')
b = ('srt','zzzz')
result = a + b
result

('dhruv', 'abc', 'xyz', 'srt', 'zzzz')

In [58]:
result.count('abc')

1

In [42]:
result.index('srt')

3

## Tuple Methods

- count() ==> Returns the number of times a specified value occurs in a tuple
- index() ==> Searches the tuple for a specified value and returns the position of where it was found

- Tuples are generally faster than lists because they are stored in a single memory block and do not require extra space for new objects.
- Tuples consume less memory than lists because they do not have extra overhead for storing information about their size and state.
- Tuples are more suitable for accessing elements by index or iterating over them, while lists are more suitable for performing operations such as insertion, deletion, sorting, etc.

In [ ]:
a = ((1,2,3),
    (4,5,6))

In [ ]:
a[0]

# Q. Access value 50

In [46]:
t = (1,2,(4,5,6,50),["list"])

In [47]:
t[-2][-1]

50

In [50]:
mat = [[1,1],
       [11,1]]

In [51]:
mat[1][0]

11

# Q. check if all the elements in a tuple are same

In [67]:
def check_similarity(t):
    result = True
    for i in t:
        if i != t[0]:
            result = False
    return result

In [69]:
t = (44,44,44,44,44)
print(check_similarity(t))

True

In [ ]:
## NEsted tuples
b =(3,7,9)

a = (1,3,b,0,20,"string",[1,2,3,5])

In [ ]:
a[2][-1]

In [71]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')

In [74]:
def get_unique_elements(t):
    unique_elements = []
    for current_element in t:
        if current_element not in unique_elements:
            unique_elements.append(current_element)
    return tuple(unique_elements)

In [75]:
fruits = ("apple", "banana", "cherry",'mango','cherry','grapes')
result = get_unique_elements(fruits)
print(result)

('apple', 'banana', 'cherry', 'mango', 'grapes')

In [79]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)
result = get_unique_elements(numbers_tuple)
print(result)

(1, 3, 5, 6, 2, 88, 22, 11)

In [84]:
numbers_tuple = (1,3,5,5,6,2,1,88,22,11,3,2,5)

max_occurance = []
for i in numbers_tuple:
#     print(i," : ",numbers_tuple.count(i))
    
    max_occurance.append(numbers_tuple.count(i))

# print()
for i in numbers_tuple:
    if numbers_tuple.count(i) == max(max_occurance):
        print(f"Mode is : {i} , occuring {max(max_occurance) } times. ")

Mode is : 5 , occuring 3 times.
Mode is : 5 , occuring 3 times.
Mode is : 5 , occuring 3 times.

In [ ]:
unique_fruits = []
for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)
sorted(unique_fruits)

In [ ]:
unique_fruits

In [ ]:
## REVERSING  A TUPLE
t = (5,6,7,8,9,1,2,34)

t[::-1]